.tt-modified .image-description .title {
	padding-top: 1px !important;
}

body:not(.dark-mode) .tt-property-happiness {
	color: #000;
}

body.dark-mode .tt-property-happiness {
	color: gold;
}

.tt-mobile .tt-modified .image-description {
	height: 90px !important;
	display: flex;
	flex-flow: column;
	vertical-align: middle;
	justify-content: center;
}
