.tt-align-left .container {
	margin-left: 20px !important;
	justify-content: flex-start !important;
}

.tt-align-left.tt-popout .content-wrapper[role="main"] {
	margin-left: 0 !important;
}

.tt-align-left .without-sidebar #mainContainer .content-wrapper {
	margin-left: 20px;
}

.tt-align-left div.container:has(> div[style*="margin-top: -80px;"] > div.cf > div.iAmUnderAttack > form#challenge-form) {
	margin-left: 0 !important;
	justify-content: center !important;
}
