#areas span {
    background-color: #f2f2f2;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
}

#areas span.disabled {
    opacity: 0.3;
    background-color: #ff000069;
}