#areas span, #casinogames span, #stock-blocks span {
	background-color: #f2f2f2;
	padding: 1px 5px;
	border-radius: 4px;
	border: 1px solid lightgray;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin-bottom: 4px;
}

.dark-mode #areas, .dark-mode #casinogames, .dark-mode #stock-blocks {
	color: #333;
}

#areas span.disabled, #casinogames span.disabled, #stock-blocks span.disabled {
	color: white;
	opacity: 0.7;
	background-color: #ff000069;
}
