#nav-home {
	display: var(--torntools-hide-area-home, block) !important;
}

#nav-items {
	display: var(--torntools-hide-area-items, block) !important;
}

#nav-city {
	display: var(--torntools-hide-area-city, block) !important;
}

#nav-job {
	display: var(--torntools-hide-area-job, block) !important;
}

#nav-gym {
	display: var(--torntools-hide-area-gym, block) !important;
}

#nav-properties {
	display: var(--torntools-hide-area-properties, block) !important;
}

#nav-education {
	display: var(--torntools-hide-area-education, block) !important;
}

#nav-crimes {
	display: var(--torntools-hide-area-crimes, block) !important;
}

#nav-missions {
	display: var(--torntools-hide-area-missions, block) !important;
}

#nav-newspaper {
	display: var(--torntools-hide-area-newspaper, block) !important;
}

#nav-jail {
	display: var(--torntools-hide-area-jail, block) !important;
}

#nav-hospital {
	display: var(--torntools-hide-area-hospital, block) !important;
}

#nav-casino {
	display: var(--torntools-hide-area-casino, block) !important;
}

#nav-forums {
	display: var(--torntools-hide-area-forums, block) !important;
}

#nav-hall_of_fame {
	display: var(--torntools-hide-area-hall_of_fame, block) !important;
}

#nav-my_faction {
	display: var(--torntools-hide-area-my_faction, block) !important;
}

#nav-recruit_citizens {
	display: var(--torntools-hide-area-recruit_citizens, block) !important;
}

#nav-competitions {
	display: var(--torntools-hide-area-competitions, block) !important;
}

#nav-community_events {
	display: var(--torntools-hide-area-community_events, block) !important;
}
