.initialize-notice {
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
}

.initialize-divider {
	display: flex;
	align-items: center;
	color: #9a9a9a;
}

.share-wrapper {
	display: flex;
}

.share {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.share div {
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}

.share input {
	width: 40%;
	padding: 2px 5px;
	border: 1px solid var(--input-border-color);
	border-radius: 5px;
	color: var(--input-color);
	background: var(--input-background-color);
}

.share input:hover {
	border-color: var(--input-hover-border-color);
}

.share input:focus {
	border-color: var(--input-focus-border-color);
}

.save-wrapper {
	text-align: center;
}

.save-wrapper .tt-loading-placeholder {
	padding: 0;
	margin: 3px 0 !important;
}
