.tt-vault-balance {
	line-height: 19px;
}

.tt-vault-balance .name {
	display: inline-block;
	width: 47px;
	font-weight: bold;
}

.tt-vault-balance .value {
	color: var(--tt-color-item-text);
	font-size: 13px;
}
