/*
 * Blood Bags
 */

.good-blood {
	background-color: #bdecb9b5 !important;
}

.bad-blood {
	background-color: #f5b2b28a !important;
}

.tt-blood-price {
	color: rgb(103, 140, 0);
	float: right;
	padding-right: 10px;
	font-weight: normal;
}
