/* General UI */

.tt-total-stock-value {
	color: #999999;
	font-size: 17px;
	font-weight: normal;
}

#tt-stock-filter.portfolio,
#tt-hide-stocks.portfolio {
	margin-bottom: 10px;
}

.filter-wrap {
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	flex-basis: 0 !important;
}

.dark-mode .filter-content .filter-multi-wrap {
	color: #333 !important;
}

.tt-input-wrap input {
	height: 10px;
	border-radius: 3px;
	margin-left: 4px;
	padding: 0 3px;
	vertical-align: unset;
}

.tt-input-wrap input[type="text"] {
	width: 75%;
	height: initial;
}

#change-filter .tt-checkbox-wrap,
#total-profit-filter .tt-checkbox-wrap {
	display: flex;
    justify-content: space-between;
}

label[for='up'] {
	margin-right: 10px;
}

.tt-checkbox-wrap > * {
	display: inline-block;
	vertical-align: middle;
}

.dark-mode #change-filter .tt-checkbox-wrap > label,
.dark-mode #total-profit-filter .tt-checkbox-wrap > label {
	color: #ddd;
}

.dark-mode #change-filter .tt-checkbox-wrap input[value="loss"] {
	margin-right: 10px;
}

.tt-mobile #tt-stock-filter .filter-content {
	flex-flow: column;
}

/* Block Formatting */

.block-wording {
	text-decoration: underline;
}

.block-profit {
	color: green;
}

.block-loss {
	color: red;
}

.block-break-even {
	color: blue;
}

.tt-mobile .block-bb {
	margin-right: 2px;
}

.stock-list .item .owned.tt-modified {
	line-height: 20px !important;
}

/* Stock Formatting */

.tt-mobile .b-price-wrap .second-row .prop-wrap {
	white-space: normal;
}

.difference {
	cursor: default;
	font-size: 12px;
	margin-left: 2px;
	color: green;
	font-weight: 400;
	font-family: Arial;
	white-space: nowrap;
}

.difference:not(.up):not(.down) {
	color: #a57b00;
}

.difference.up {
	color: green;
}

.difference.down {
	color: red;
}

.difference i {
	padding-left: 13px;
	height: 9px;
	display: inline-block;
}

.difference:not(.up):not(.down) i {
	background: url("https://torn.com/images/v2/stock/up_down_steady.png") 0 -16px no-repeat;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.difference.up i {
	background: url("https://torn.com/images/v2/stock/up_down_steady.png") 0 -7px no-repeat;
}

.difference.down i {
	background: url("https://torn.com/images/v2/stock/up_down_steady.png") 0 1px no-repeat;
}

div#tt-hide-stocks td {
	border-bottom: 1px solid;
}

div#tt-hide-stocks tr.heading {
	border-bottom: black 2px solid;
}

div#tt-hide-stocks table {
	width: 100%;
	text-align: center;
	background-color: white;
	font-size: 14px;
}

div#tt-hide-stocks tr > td:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	vertical-align: middle;
}

div#tt-hide-stocks tr > td:nth-child(3) {
	color: blue;
}

div#tt-hide-stocks tr > td:nth-child(4) {
	color: #678c00;
}
