/* Align Torn to the left */
.tt-align-left .d .container {
	margin-left: 20px !important;
}

.tt-align-left.tt-popout .content-wrapper[role="main"] {
	margin-left: 0 !important;
}

/* Change chat font size */
.overview_1MoPG .message_oP8oM * {
	font-size: var(--torntools-chat-font-size, 12px) !important;
}

/* Hide upgrade button */
#pointsLevel,
.tt-level-upgrade {
	display: var(--torntools-hide-upgrade-button, block) !important;
}

.tt-level-upgrade + hr {
	display: var(--torntools-hide-upgrade-button, block) !important;
}

/* Hide quit and leave button */
.quit-job {
	display: var(--torntools-hide-leave-button, flex) !important;
}

/* Block Zalgo text from overflowing */
.no-zalgo .chat-active_1Sufk .overview_1MoPG .message_oP8oM {
	overflow: hidden;
}

/* Highlight energy */
#barEnergy .bar-name___3TJ0p {
	color: var(--torntools-highlight-energy, #333) !important;
}

/* Highlight nerve */
#barNerve .bar-name___3TJ0p {
	color: var(--torntools-highlight-nerve, #333) !important;
}
