.hidden {
	display: none;
}

/* Sidebar Sections */

.tt-sidebar-information .title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	margin: inherit;
}

/* Search Chat */

.chat-box-input_1SBQR.tt-modified {
	height: 86px !important;
}

.tt-chat-filter {
	display: flex;
	margin-left: 4px;
	padding-top: 2px;
	align-items: center;
}

.tt-chat-filter input {
	margin-left: 4px;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 232px;
}

/* Colored Chat */

.chat-colored.chat-box-head_1qkkk .chat-box-title_out6E,
.chat-colored.chat-box-head_1qkkk .l_Gk3uN,
.chat-colored.chat-box-head_1qkkk .r_2uwXA {
	background: var(--highlight-color__1);
	background: linear-gradient(0deg, var(--highlight-color__1) 0%, var(--highlight-color__2) 100%);
	height: inherit;
}

.chat-colored.chat-box-head_1qkkk .l_Gk3uN {
	border-radius: 5px 0 0 0;
}

.chat-colored.chat-box-head_1qkkk .r_2uwXA {
	border-radius: 0 5px 0 0;
}

/* Update Notice */

#ttUpdateNotice a {
	background-color: #b8e28f;
	min-height: 24px;
	line-height: 24px;
}

/* Sidebar Notes */

#sidebarNotes .notes {
	width: 100%;
	min-height: 22px;
	background-color: #f2f2f2;
	box-sizing: border-box;
	border: unset;
	padding: 3px;
	resize: vertical;
	border-radius: 0 5px 5px 0;
}
