#effectiveBattleStats .title {
	cursor: initial !important;
}

#liveNetworth .comparison {
	margin: 5px;
}

#liveNetworth table {
	width: 100%;
}

#liveNetworth table tr > * {
	padding-bottom: 4px;
}

#liveNetworth table th {
	font-weight: bold;
	text-align: center;
}

#liveNetworth table .positive {
	color: #00a500;
}

#liveNetworth table .negative {
	color: #de0000;
}
