#calculator .search-wrap {
	display: flex;
	justify-content: space-between;
}

#calculator .clear {
	min-width: 50px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	cursor: pointer;
}

#calculator .item-list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;

	max-height: 400px;
	overflow-y: scroll;
}

#calculator .item-list > li {
	padding: 1px 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#calculator .item-list input {
	width: 5rem;
}

#calculator .receipt > ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}

#calculator .receipt .item,
#calculator .receipt .price {
	margin-left: 1ch;
	margin-right: 1ch;
}

#calculator .receipt .total {
	border-bottom: 1px solid;
	margin-bottom: 4px;
	text-align: end;
	font-weight: bold;
}
