#notifications ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#notifications li {
	border: 1px solid currentColor;
	padding: 0.5em;
	margin: 0.25em;
}

#notifications a {
	color: inherit;
	text-decoration: none;
}

#notifications li:not(:first-child):not(:last-child) {
	margin-block: 0.5em;
}

#notifications .title {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
