body {
	/*min-width: 26rem;*/
	overflow-x: hidden;
	font-size: 75%;
}

body.loading *:not(.tt-loading-placeholder) {
	display: none !important;
}

.subpage {
	display: none;
}

.subpage.active {
	display: block;
}

.error {
	margin-bottom: 5px;
	color: red;
}

h1 {
	margin: 0 0 8px 0;
}


/* Dark Mode */

body.dark {
	background-color: #232323;
	color: #aaa;
}

/*
 * Page Navigation
 */

#pages #settings {
	float: right;
	width: 32px;
	height: 32px;
	font-size: 32px;
	text-align: center;
	cursor: pointer;
}

#pages {
	display: flex;
	margin: -6px 0;
}

#pages .right-nav {
	justify-content: flex-end;
}

#pages ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 6px 0;
	flex: 1;
}

#pages ul li {
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	padding: 1px;
	margin: 0 2px;
}

#pages ul li.active {
	border-top: 1px solid black;
}
