body {
	min-width: 26rem;
	overflow-x: hidden;
	font-size: 75%;
}

body.loading *:not(.tt-loading-placeholder) {
	display: none !important;
}

.subpage {
	display: none;
}

.subpage.active {
	display: block;
}

.error {
	margin-bottom: 5px;
	color: red;
	display: none;
}

h1 {
	margin: 0 0 8px 0;
}

/*
 * Page Navigation
 */

#pages ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 6px 0;
}

#pages ul li {
	/*flex: 1 0 auto;*/
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	padding: 1px;
	margin: 0 2px;
}

#pages ul li.active {
	border-top: 1px solid black;
}

/*
 * Dashboard
 */

/* Bars */

a.bar,
a.bar:focus,
a.bar:hover {
	text-decoration: inherit;
	color: inherit;
}

a.bar .bar-info.reset-timer:before {
	color: red;
}

a.bar .bar-info:before {
	float: right;
	content: attr(data-tick);
}

a.bar:hover .bar-info:before {
	content: attr(data-full);
	font-weight: 700;
}

a.bar:hover .bar-label {
	display: none;
}

.bar .bar-label {
	float: right;
	margin-right: 1em;
}

.bar .progress {
	width: 100%;
	height: 12px;
	background-color: #ccc;
}

.bar .progress .value {
	width: 0;
	height: inherit;
}

.bar-wrap {
	margin-bottom: 8px;
}

#energy .progress .value {
	background: #7cc833;
}

#nerve .progress .value {
	background: #b3382c;
}

#happy .progress .value {
	background: #e3e338;
}

#life .progress .value {
	background: #7b98ee;
}

#chain .progress .value {
	background: #333;
}

#chain.cooldown .progress .value {
	background: #999;
}

#traveling .progress .value {
	background: #d961ee;
}

/* Cooldowns */

.cooldowns {
	display: flex;
	width: 100%;
	text-align: center;
}

.cooldowns .cooldown {
	flex: 1 0 auto;
}

.cooldown-name {
	font-weight: bold;
}

#drug-cooldown .cooldown-name {
	color: #32b72e;
}

#booster-cooldown .cooldown-name {
	color: #f17827;
}

#medical-cooldown .cooldown-name {
	color: #5783fd;
}

/* Extra Information */

.extra {
	display: flex;
	width: 100%;
	text-align: center;
}

.extra > * {
	flex: 1 0 auto;
}
.extra a,
.extra a:focus,
.extra a:hover {
	text-decoration: inherit;
	color: inherit;
}
