/* Stocks */

#stocks .stock-list .stock-wrap {
	position: relative;
}

#stocks .stock-list .heading {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

#stocks .stock-list .heading .name {
	font-size: 16px;
	margin-top: 8px;
	font-weight: bold;
}

#stocks .stock-list .information-section .heading {
	padding: 1px 4px;
}

body.light #stocks .stock-list .information-section .heading {
	background-color: #eee;
}

body.dark #stocks .stock-list .information-section .heading {
	background-color: #353535;
}

#stocks .stock-list .information-section .heading .title {
	font-weight: bold;
}

#stocks .stock-list .information-section .heading i {
	float: right;
}

#stocks .stock-list .information-section .content {
	margin: 4px 10px;
}

#stocks .stock-list .information-section {
	margin-top: 2px;
}

#stocks .stock-list .information-section .content.price {
	display: flex;
	flex-wrap: wrap;
}

#stocks .stock-list .information-section .content.price > * {
	flex: 1;
}

#stocks .stock-list .information-section .content.benefit .description {
	font-weight: bold;
}

#stocks .stock-list .information-section .content.benefit .duration {
	margin-left: 0.25em;
}

#stocks .stock-list .information-section .content.alerts {
	display: flex;
	flex-direction: column;
}

#stocks .stock-list .information-section .content.alerts > * {
	flex: 1;
	margin-left: 6px;
	margin-right: 6px;
}

#stocks .stock-list .information-section .content.alerts .title {
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: inline-block;
}

#stocks .stock-list .information-section .content.alerts input[type="number"] {
	float: right;
	right: 25px;
	width: 60px;
	font-size: 10px;
	height: 12px;
	padding: 0;
	margin: 0;
}

/* Stocks - Users */

#stocks .profit {
	position: absolute;
	top: 8px;
	right: 4px;
	font-size: 14px;
	font-weight: bold;
}

#stocks .profit.positive {
	color: #678c00;
}

#stocks .profit.negative {
	color: #ec3f3f;
}

#stocks .information-section .content.benefit .description.completed,
#stocks .information-section .content.benefit .increment.completed {
	color: #36b320;
}

#stocks .information-section .content.benefit .description.awaiting,
#stocks .information-section .content.benefit .increment.awaiting {
	color: #ffa937;
}

#stocks .information-section .content.benefit .description.not-completed {
	color: #e44204;
}

.benefit-frequency {
	margin-left: 0.25em;
}

.content.benefit table {
	width: 100%;
}
