.tt-sidebar-information .title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	margin: inherit;
}

.tt-sidebar-information .countdown.short {
	color: var(--tt-color-red);
}

.tt-sidebar-information .countdown.medium {
	color: var(--tt-color-orange);
}