#profileNotes {
	margin-top: 10px;
}

#profileNotes textarea {
    height: 76px;
    padding: 10px;
    width: -webkit-fill-available;
}

body:not(.dark-mode) #profileNotes textarea {
	background-color: rgb(242, 242, 242);
	color: #333;
}

body.dark-mode #profileNotes textarea {
	background-color: #000;
	color: #fff;
}
