#profileNotes {
	margin-top: 10px;
}

#profileNotes textarea {
    width: 98%;
    min-height: 24px;
	resize: vertical;
    box-sizing: border-box;
	border-radius: inherit;
    padding: 3px;
	margin: 10px;
}

body:not(.dark-mode) #profileNotes textarea {
	background-color: rgb(242, 242, 242);
	color: #333;
}

body.dark-mode #profileNotes textarea {
	background-color: #000;
	color: #fff;
}
