.tt-title-torn {
	cursor: pointer !important;
}

.tt-title-torn.collapsed {
	margin-bottom: 2px !important;
}

.tt-title-torn .icon {
	line-height: inherit;
	font-size: 16px;
	position: absolute;
	top: 1px;
	right: 9px;
}

.tt-title-torn.collapsed .icon {
	transform: rotate(-90deg);
}

.tt-title-torn.collapsed + div {
	display: none;
}
