.tt-chat-hidden #chatRoot [class*="group-chat-box__"],
.tt-chat-hidden #chatRoot [class*="group-minimized-chat-box__"],
.tt-chat-hidden #chatRoot [class*="minimized-menus__root__"] {
	display: none;
}
