body.torntools-burglary-filter .burglary-root .tt-filter-hidden [class*="outcomeWrapper__"] {
	display: none;
}

body.torntools-burglary-filter .burglary-root [class*="currentCrime__"] [class*="virtualItemsBackdrop__"] {
	display: none;
}

body.torntools-burglary-filter .burglary-root [class*="currentCrime__"] [class*="virtualItem__"]:not(:first-child) {
	overflow: hidden;
}

/* body #react-root .crimes-app #burglaryFilter { */
body #react-root .crimes-app #burglaryFilter * {
	font-family: Arial !important;
	letter-spacing: 0 !important;
}

