form[name="crimes"] img {
	pointer-events: none;
}

#quickCrimes .inner-content {
	display: flex;
	width: 100%;
	padding: 0 0 5px 5px;
	box-sizing: border-box;
	flex-wrap: wrap;
}

#quickCrimes > main.drag-progress * {
	pointer-events: none;
}

#quickCrimes .inner-content .quick-item {
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	margin: 5px 5px 0 0;
	flex: 1 0 auto;
	height: 33px;
}

body:not(.dark-mode) #quickCrimes .inner-content .quick-item {
	border: 1px solid lightgray;
	background-color: white;
}

body.dark-mode #quickCrimes .inner-content .quick-item {
	border: 1px solid #444;
	background-color: #333;
}

#quickCrimes .inner-content .quick-item .tt-close-icon {
	opacity: 0;
	position: absolute;
	top: 3px;
	right: 3px;
	color: #a7a7a7;
}

#quickCrimes .inner-content .quick-item .item {
	padding: 5px;
	margin: -5px;
}

.tt-mobile #quickCrimes .inner-content .quick-item .tt-close-icon,
#quickCrimes .inner-content .quick-item:hover .tt-close-icon {
	opacity: 1;
}

#quickCrimes .inner-content .quick-item .tt-close-icon:hover {
	color: gray;
}

#quickCrimes .inner-content .temp.quick-item {
	opacity: 0.2;
	border: 1px solid gray;
}

#quickCrimes .inner-content .quick-item .pic {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: cover;
}

#quickCrimes .inner-content .quick-item .text {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
	margin-left: 10px;
}

#quickCrimes .inner-content .quick-item .sub-text {
	text-align: center;
	font-size: 10px;
	color: gray;
}

#quickCrimes #edit-items-button i {
	margin-right: 4px;
}

body:not(.dark-mode) #quickCrimes .inner-content .quick-item.removable {
	background-color: #ffd5d5 !important;
}

body.dark-mode #quickCrimes .inner-content .quick-item.removable {
	background-color: #9d2f2f !important;
}
