.tt-container.spacer {
	margin-bottom: 10px;
}

.tt-container .title {
	padding-left: 10px;
	height: 30px;
	font-size: 13px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	letter-spacing: 1px;
	display: flex;
	white-space: nowrap;
	margin: initial;
	align-items: center;
}

.tt-title-default,
.tt-container.theme-default .title {
	color: #fff;
	background: var(--tt-background-green);
}

.tt-title-alternative,
.tt-container.theme-alternative .title {
	color: rgb(172, 234, 0);
	background: var(--tt-background-green);
}

.tt-container.collapsible .title {
	cursor: pointer;
}

.tt-container.spacer .title {
	margin-top: 10px;
}

.tt-container .title .text {
	width: -webkit-fill-available;
	width: -moz-available;
}

.tt-container .title .icon {
	min-width: 30px;
	font-size: 16px;
	text-align: center;
	position: static !important;
	margin: auto;
}

.tt-container.rounding.always-content .title,
.tt-container.rounding .title:not(.collapsed) {
	border-radius: 5px 5px 0 0;
}

.tt-container.rounding:not(.always-content) .title.collapsed {
	border-radius: 5px;
}

.tt-container .title.collapsed .icon {
	transform: rotate(-90deg);
}

.tt-container:not(.always-content) .title.collapsed + main,
.tt-container.always-content .title.collapsed + main .hide-collapse {
	display: none;
}

.tt-container .title .options {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	margin-right: 4px;
	align-items: center;
}

.tt-container.theme-default .options {
	/*color: #acea00;*/
	color: white;
}

.tt-container.theme-alternative .options {
	color: #acea00;
}

.tt-container .title .options > * {
	margin-right: 4px;
}

#sidebarroot .tt-container .title {
	align-items: center;
	height: 22px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

body.tt-tablet #sidebarroot .tt-container .title {
	height: 34px;
}

.tt-container > main {
	margin-top: initial !important;
}

.tt-container:not(.compact) > main {
	padding: 4px 4px 3px 4px;
}

.tt-container.rounding > main {
	border-radius: 0 0 5px 5px;
}

.tt-container > main.background {
	background-color: var(--default-bg-panel-color);
}
