/* General */

body {
	padding: 0;
	margin: 0 0 100px;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body.dark {
	background-color: #232323;
	color: #f8f8f8;
}

.center {
	margin: auto;
}

#message {
	position: sticky;
	width: 30%;
	margin-left: 35%;
	text-align: center;
	top: 0;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	max-height: 0;
	overflow: hidden;
	/* transition: max-height 0.5s ease-out; */
	z-index: 9;
	color: black;
}

/* Navigation */

header {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

nav a {
	text-decoration: none;
	color: inherit;
}

header nav > ul {
	list-style: none;
	display: flex;
}

header nav > ul > li {
	flex: 1 0 auto;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	padding: 10px;
}

body.light header nav > ul > li {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

body.dark header nav > ul > li {
	border-top: 1px solid #4e4d4d;
	border-bottom: 1px solid #4e4d4d;
}

body.light header nav > ul > li.active {
	border-top: 1px solid black;
	border-bottom: 1px solid #000000;
}

body.dark header nav > ul > li.active {
	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
}

body.dark input:not([type="checkbox"]):not([type="radio"]),
body.dark select,
body.dark button {
	background-color: #bfbfbf;
}

body.tt-unscrollable {
	overflow-y: hidden !important;
}

/* General pages */

body.tt-mobile main {
	margin: auto;
}

main > h2 {
	text-align: center;
}

main > section {
	margin: 0 auto;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
}

body:not(.tt-mobile) main > section {
	width: 70%;
}

body.tt-mobile main > section {
	width: 88%;
}

body.light main > section {
	border: 1px solid lightgrey;
}

body.dark main > section {
	border: 1px solid #333;
}

main > section:not(:first-of-type) {
	border-top: unset;
}

button.fancy-button {
	min-width: 60px;
	padding: 0 4px;
	height: 30px;
	border: 1px solid lightgrey;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	border-radius: 7px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

body.dark button.fancy-button {
	color: white;
}

button.fancy-button[disabled] {
	cursor: not-allowed;
}

body.light button.fancy-button[disabled] {
}

body.dark button.fancy-button[disabled] {
	background: #616161;
	color: #7a7a7a;
	border-color: dimgrey;
}

button.fancy-button.positive {
	background-color: #149a32;
}

button.fancy-button.negative {
	background-color: #c82333;
}

.actions.right {
	display: flex;
	flex-direction: row-reverse;
}

/* Popup */

#tt-confirmation-popup {
	width: 50%;
	height: fit-content;
	/*noinspection CssInvalidPropertyValue*/
	height: -moz-fit-content;
	max-height: 75%;
	left: 25%;
	padding-bottom: 5px;
	top: 20%;
	position: fixed;
	border-radius: 10px;
	z-index: 99999;
	overflow: auto;
}

body.light #tt-confirmation-popup {
	background-color: white;
}

body.dark #tt-confirmation-popup {
	background-color: #4e4d4d;
	color: #d7d7d7;
}

#tt-confirmation-popup .title {
	font-weight: bold;
	width: calc(100% - 20px);
	border-bottom: 1px solid lightgray;
	padding-bottom: 1px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#tt-confirmation-popup .message {
	min-height: 200px;
	margin: 5px 10px;
	border-bottom: 1px solid lightgray;
}

/* Sortable tables */

table.sortable th:not(.no-sorting) {
	cursor: pointer;
}

/* region Inputs */

input[type="checkbox"],
input[type="color"],
select,
label {
	cursor: pointer;
}

input:not([type="checkbox"]),
select {
	border-radius: 4px;
	outline: none;
	border: 1px solid #a7a7a7;
}

input:not([type="checkbox"]):not([type="color"]) {
	padding-left: 4px;
}

input[type="color"] {
	height: 20px;
}

/* - Companies / Faction */

input[type="number"].short-input {
	width: 40px;
}

input[type="number"].medium-input {
	width: 60px;
}

input.medium-input,
input[type="number"].long-input {
	width: 80px;
}

input[type="text"].short-input {
	width: 25px;
}

/* endregion */
