.tt-dual-range {
	height: 12px;
	width: 150px;
	background: #ddd;
	border-radius: 50px;
	position: relative;
	user-select: none;
	margin: auto;
}

.tt-dual-range .highlight {
	position: absolute;
	height: 12px;
	width: calc(calc(var(--x-2) - var(--x-1)) + 21px);
	left: var(--x-1);
	background-color: #627e0d;
	z-index: 1;
	border-radius: 50px;
}

.tt-dual-range .handle {
	height: 21px;
	width: 21px;
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: grab;
	float: none;
}

body:not(.dark-mode) .tt-dual-range .handle {
	background-color: #fff;
}

body.dark-mode .tt-dual-range .handle {
	background-color: #e8e8e8;
}

.tt-dual-range .handle.left {
	left: var(--x-1);
}

.tt-dual-range .handle.right {
	left: var(--x-2);
}
