.tt-dual-range {
	height: 20px;
	width: 150px;
	background: #f2f2f2;
	border-radius: 50px;
	position: relative;
	user-select: none;
}

.tt-dual-range .highlight {
	position: absolute;
	height: 20px;
	width: calc(calc(var(--x-2) - var(--x-1)) + 26px);
	left: var(--x-1);
	background-color: #627e0d;
	z-index: 1;
	border-radius: 50px;
}

.tt-dual-range .handle {
	width: 26px;
	height: 26px;
	background: #fff;
	position: absolute;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: grab;
}

.tt-dual-range .handle.left {
	left: var(--x-1);
}

.tt-dual-range .handle.right {
	left: var(--x-2);
}
