.missing,
.remembered {
	color: var(--tt-color-green);
}

.missing::after {
	content: "*";
	padding-left: 2px;
}

.specials-confirm-cont.tt-modified .back {
	display: flex;
}

.specials-confirm-cont.tt-modified .tt-btn.external-service {
	margin-left: 15px;
}

.specials-confirm-cont.tt-modified .external-response-wrap {
	margin: 3px 15px 0 15px;
}
.specials-confirm-cont.tt-modified .external-response.error {
	color: var(--tt-color-red);
}
