.tt-hidden {
	display: none !important;
}

.tt-black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #00000059;
}

.no-margin {
	margin: 0;
}

.tt-delimiter {
	overflow: hidden;
	height: 0;
	border-left: none;
	border-right: none;
	border-top: #ccc;
	border-top: 1px solid var(--sidebar-horizontal-divider-bg-color);
	border-bottom: #fff;
	border-bottom: 1px solid var(--sidebar-horizontal-divider-shadow-color);
	margin-bottom: 5px;
}

.tt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: #00000059;
}

.tt-overlay-item {
	position: relative;
	z-index: 999999999;
}

.tt-overlay-item .tt-overlay-ignore {
	z-index: 0;
	pointer-events: none;
}

.tt-overlay-item .tt-overlay-ignore::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: #00000059;
}

.relative {
	position: relative;
}

.flex-break {
	flex-basis: 100% !important;
	height: 0;
	margin: 0;
	border: 0;
}

/* Replace Torn classes */

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.t-flex {
	display: flex;
}

[class*="torn-icon-"] {
	background: url("https://www.torn.com/images/v2/city/location_icons_34x34px.svg") no-repeat;
	height: 34px;
	width: 34px;
	display: inline-block;
	vertical-align: middle;
}

.torn-icon-item-market {
	background-position: -68px -34px;
}

/* Sidebar Areas */

.tt-sidebar-area {
	margin-top: 2px;
	overflow: hidden;
}

.tt-sidebar-area > div {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: var(--default-bg-panel-color);
}

.tt-sidebar-area a {
	overflow: hidden;
	color: var(--default-content-font-color);
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.tt-sidebar-area a span {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/*
 * Feature Status popup
 */

#tt-page-status {
	top: 5px;
	right: calc((100vw - 976px) / 2 - 50px);
	position: absolute;
	z-index: 5;
	overflow: hidden;
}

:is(body.tt-mobile, body.tt-tablet) #tt-page-status {
	pointer-events: none; /* Used to prevent sticky on mobiles & tablets */
	top: 0;
	left: 33vw;
	right: unset;
	z-index: 99999;
}

#tt-page-status button {
	cursor: pointer;
}

#tt-page-status > div:first-child {
	text-align: right;
}

:is(body.tt-mobile, body.tt-tablet) #tt-page-status > div:first-child {
	text-align: left;
}

/* Used to prevent sticky on mobiles & tablets */
:is(body.tt-mobile, body.tt-tablet) #tt-page-status > div > * {
	pointer-events: all;
}

#tt-page-status button {
	width: 38px;
	height: 38px;
	background-size: contain;
}

#tt-page-status .tt-features-list {
	min-height: fit-content;
	max-height: 82vh;
	width: fit-content;
	padding: 0 12.5px 12.5px 12.5px;
	border-radius: 15px 0 15px 15px;
	background-color: #fff;
	border: 1px solid lightgray;
	display: none;
	overflow: hidden auto;
}

body.dark-mode #tt-page-status .tt-features-list {
	background-color: #333;
	border: 1px solid #444;
}

:is(body.tt-mobile, body.tt-tablet) #tt-page-status .tt-features-list {
	height: fit-content;
	border-radius: 0 15px 15px 15px;
}

/* Show error count, if any */
#tt-page-status:not([error-count="0"])::before {
	top: 3px;
	right: 1px;
	position: absolute;
	padding: 2px 4px;
	background-color: #d90000;
	content: attr(error-count);
	border-radius: 100%;
}

/* Hide disabled && Show failed only */
#tt-page-status.hide-disabled .tt-features-list .tt-feature[status="disabled"],
#tt-page-status.only-fails .tt-features-list .tt-feature:not([status="failed"]) {
	display: none;
}

/* When all scopes are hidden */
#tt-page-status.no-content .tt-features-list::before {
	display: inline-block;
	padding: 15px 15px 5px 15px;
	font-size: 14px;
	content: "No features to show.";
}

/* Open features list when focused(PC) or hover(mobiles & tablets) */
#tt-page-status.open .tt-features-list {
	display: block;
}

/* Error messages styles */
#tt-page-status .error-messages:not(:empty)::before {
	content: "Errors";
	display: block;
	margin: 10px 0;
	color: red;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	border-bottom: 5px solid red;
}

#tt-page-status .error-messages:not(:empty) .error .name {
	margin-top: 5px;
	font-weight: bold;
	background: #ff3e00;
}

/* Using JS due to usability issues on mobiles & tablets

#tt-page-status:focus-within .tt-features-list {
	display: block;
}

:is(body.tt-mobile, body.tt-tablet) #tt-page-status:hover .tt-features-list {
	display: block;
} */

/* General padding for icons & features  */
#tt-page-status .tt-features-list div[scope] > div:first-child {
	border-bottom: 2px solid lightgray;
	font-weight: bold;
	padding-bottom: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-style: italic;
}

#tt-page-status .tt-features-list .tt-feature {
	margin-bottom: 1px;
}

#tt-page-status .tt-features-list .tt-feature i {
	margin-right: 3px;
}

/* Colors of feature status icons  */
#tt-page-status .tt-features-list .tt-feature[status="disabled"] i {
	color: var(--tt-color-orange);
}

#tt-page-status .tt-features-list .tt-feature[status="failed"] i {
	color: var(--tt-color-red);
}

#tt-page-status .tt-features-list .tt-feature[status="loaded"] i {
	color: var(--tt-color-green);
}

#tt-page-status .tt-features-list .tt-feature[status="information"] i {
	color: var(--tt-color-blue);
}

#tt-page-status div[scope].no-content {
	display: none;
}

.tt-button-link {
	cursor: pointer;
	color: var(--default-blue-color);
}

.tt-btn {
	width: fit-content;
	border-radius: 6px;
	background-color: var(--tt-color-light-green);
	color: black;
}

.tt-btn:not([disabled]) {
	cursor: pointer;
}

.tt-btn[disabled] {
	cursor: not-allowed;
	opacity: 0.4;
}

/* region Message box */

.tt-msg-box {
	line-height: 16px;
	background: var(--info-msg-grey-gradient);
	box-shadow: var(--info-msg-box-shadow);
	color: var(--info-msg-font-color);
	font-size: 0;
	border-radius: 5px;
	margin-top: 10px;
}

.tt-msg-box .tt-msg-div {
	background: var(--info-msg-horizontal-gradient);
	display: flex;
	justify-content: flex-start;
	border-radius: 5px;
}

.tt-msg-box .tt-msg {
	flex-grow: 1;
	border-radius: 0 5px 5px 0;
	vertical-align: middle;
	height: auto;
	width: 1px;
	background-color: var(--default-bg-panel-active-color);
	background: var(--info-msg-delimiter-gradient);
}

.tt-msg-box .tt-content {
	position: relative;
	vertical-align: middle;
	padding: 10px;
	color: var(--info-msg-font-color);
	font-size: 13px;
	background-color: var(--default-bg-panel-active-color);
	background: var(--info-msg-bg-gradient);
	border-radius: 0 5px 5px 0;
}

/* new */

.tt-message-box {
	border-radius: 5px;
	margin-top: 10px;
	display: flex;
	color: var(--info-msg-font-color);
	font-size: 13px;
	box-shadow: var(--info-msg-box-shadow);
}

.tt-message-box .tt-message-icon-wrap {
	width: 34px;
	background: var(--info-msg-grey-gradient);
	border-radius: 5px 0 0 5px;
}

.tt-message-box .tt-message-icon {
	width: 34px;
	height: 100%;
	background: var(--info-msg-horizontal-gradient);
	border-radius: 5px 0 0 5px;
	display: flex;
	justify-content: center;
}

.tt-message-box .tt-svg {
	width: 34px;
	height: 34px;
}

.tt-message-box .tt-icon-info {
	margin-top: 9px;
}

.tt-message-box .tt-message-wrap {
	background-color: var(--default-bg-panel-active-color);
	background: var(--info-msg-bg-gradient);
	flex-grow: 1;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	display: flex;
	align-items: center;
}

.tt-message-box .tt-message {
	flex-grow: 1;
}

/* endregion */

.tt-svg {
	width: 128px;
	height: 128px;
}

.tt-svg .tt-svg-upper {
	stroke: #000;
	fill: #000;
}

.tt-svg .tt-svg-lower {
	stroke: #568725;
	fill: #568725;
}

#sidebarroot .pill {
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: var(--default-bg-panel-color);
	margin-top: 2px;
	min-height: 22px;
	color: var(--default-font-color);
	text-decoration: none;
}

#sidebarroot .pill:not([icon]) {
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
}

#sidebarroot .pill:not([icon]),
#sidebarroot .pill[icon] span {
	height: 100%;
	justify-content: flex-start;
	padding-left: 8px;

	overflow: hidden;
	color: var(--default-font-color);
	text-decoration: none;
	display: flex;
	align-items: center;
}

body.tt-tablet #sidebarroot .pill {
	min-height: 34px;
}

body[data-layout="hospital"] #sidebarroot .pill {
	margin-top: 0;
	margin-bottom: 1px;
}

#sidebarroot .pill:hover {
	background-color: var(--default-bg-panel-active-color) !important;
}

.tt-icon-info {
	height: 18px;
	width: 10px;
	background: url(https://www.torn.com/images/v2/main/info_msg/ordinary_importance.png) left top no-repeat;
}
