.tt-loading-placeholder {
	display: none;
	margin: 10px auto !important;
	left: unset !important;
}

.tt-loading-placeholder.active {
	display: block;
}

.hidden {
	display: none !important;
}

.tt-black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #00000059;
}

.no-margin {
	margin: 0;
}

/* General Colors */

*[color="white"] {
	color: white !important;
}

*[background-color="green"] {
	background-color: #149a32 !important;
}

*[background-color="red"] {
	background-color: #c82333 !important;
}

/* Containers */

.tt-container .title {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	letter-spacing: 1px;
}

.tt-container.theme-default .title {
	color: #fff;
	background: repeating-linear-gradient(90deg, #627e0d, #627e0d 2px, #6e8820 0, #6e8820 4px);
}

.tt-container.theme-alternative .title {
	color: rgb(172, 234, 0);
	background: repeating-linear-gradient(90deg, #242424, #242424 2px, #2e2e2e 0, #2e2e2e 4px);
}
