.tt-loading-placeholder {
	display: none;
	margin: 10px auto !important;
	left: unset !important;
}

.tt-loading-placeholder.active {
	display: block;
}

.hidden {
	display: none !important;
}

.tt-black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #00000059;
}

.no-margin {
	margin: 0;
}

.tt-delimiter {
	overflow: hidden;
	height: 0;
	border-left: none;
	border-right: none;
	border-top: #ccc;
	border-top: 1px solid var(--sidebar-horizontal-divider-bg-color);
	border-bottom: #fff;
	border-bottom: 1px solid var(--sidebar-horizontal-divider-shadow-color);
	margin-bottom: 5px;
}

/* General Colors */

*[color="white"] {
	color: white !important;
}

*[color="red"] {
	color: red !important;
}

*[color="darkorange"] {
	color: darkorange !important;
}

*[background-color="green"] {
	background-color: #149a32 !important;
}

*[background-color="red"] {
	background-color: #c82333 !important;
}

/* Sidebar Areas */

.tt-sidebar-area {
	margin-top: 2px;
	overflow: hidden;
}

/*noinspection CssOverwrittenProperties*/
.tt-sidebar-area > div {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f2f2f2;
	background-color: var(--default-bg-panel-color);
}

/*noinspection CssOverwrittenProperties*/
.tt-sidebar-area a {
	overflow: hidden;
	color: #333;
	color: var(--default-content-font-color);
	text-decoration: none;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.tt-sidebar-area a span {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/* Containers */

.tt-container.spacer {
	margin-bottom: 10px;
}

.tt-container .title {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	letter-spacing: 1px;
	display: flex;
	white-space: nowrap;
	margin: initial;
}

.tt-container.theme-default .title {
	color: #fff;
	background: repeating-linear-gradient(90deg, #627e0d, #627e0d 2px, #6e8820 0, #6e8820 4px);
}

.tt-container.theme-alternative .title {
	color: rgb(172, 234, 0);
	background: repeating-linear-gradient(90deg, #242424, #242424 2px, #2e2e2e 0, #2e2e2e 4px);
}

.tt-container.collapsible .title {
	cursor: pointer;
}

.tt-container.spacer .title {
	margin-top: 10px;
}

.tt-container .title .text {
	width: -webkit-fill-available;
	width: -moz-available;
}

.tt-container .title .icon {
	line-height: inherit;
	min-width: 30px;
	font-size: 16px;
	text-align: center;
	position: static !important;
	margin: auto;
}

.tt-container.rounding .title:not(.collapsed) {
	border-radius: 5px 5px 0 0;
}

.tt-container.rounding .title.collapsed {
	border-radius: 5px;
}

.tt-container .title.collapsed .icon {
	transform: rotate(-90deg);
}

.tt-container .title.collapsed + .content {
	display: none;
}

.tt-container .title .options {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	color: #acea00;
}

#sidebarroot .tt-container .title {
	height: 22px;
	line-height: 22px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#sidebarroot .pill {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f2f2f2;
	background-color: var(--default-bg-panel-color);
	margin-top: 2px;
	overflow: hidden;
}

#sidebarroot .pill a {
	overflow: hidden;
	color: #333;
	color: var(--default-content-font-color);
	text-decoration: none;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	line-height: 22px;
	margin-left: 8px;
}

.tt-container.rounding .content {
	border-radius: 0 0 5px 5px;
}
