/* region Chromium */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

body.light::-webkit-scrollbar-thumb {
	background: #666;
	border: 1px solid #636363;
}

body.dark::-webkit-scrollbar-thumb {
	background: #ddd;
	border: 1px solid #bbb;
}

body.light::-webkit-scrollbar-thumb:hover {
	background: #ddd;
}

body.dark::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

body.light::-webkit-scrollbar-thumb:active {
	background: #fff;
}

body.dark::-webkit-scrollbar-thumb:active {
	background: #999;
}

body::-webkit-scrollbar-track {
	border: 0 none transparent;
}

body.light::-webkit-scrollbar-track {
	background: #ddd;
}

body.dark::-webkit-scrollbar-track {
	background: #666;
}

body.light::-webkit-scrollbar-track:hover {
	background: #888;
}

body.dark::-webkit-scrollbar-track:hover {
	background: #444;
}

body.light::-webkit-scrollbar-track:active {
	background: #666;
}

body.dark::-webkit-scrollbar-track:active {
	background: #111;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/* endregion */

/* region Firefox */

/*noinspection CssUnknownProperty*/
html {
	scrollbar-width: thin;
}

/* endregion */
