[class*="chat-box-input_"].tt-modified {
	height: 86px !important;
}

.tt-chat-filter {
	display: flex;
	margin-left: 4px;
	padding-top: 2px;
	align-items: center;
}

[class*="chat-box-people_"] .tt-chat-filter {
	margin-bottom: 2px;
}

.tt-chat-filter input {
	margin-left: 4px;
	border-radius: 5px;
	width: 232px;
	border: 1px solid var(--chat-input-border-color);
	background-color: var(--chat-box-content-bg);
	color: var(--chat-notebook-text-area-font-color-active);
}
