.tt-quick-refresh {
	float: right;
	margin: 6px 10px 0 0;
	font-size: 16px;
	cursor: pointer;
}

.tt-quick-q {
	color: #acea00;
	font-size: 10px;
	position: absolute;
	margin: 10px 0 0 2px;
}

.tt-quick-refresh-wrap {
	height: 33px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}

.tt-quick-refresh-wrap > * {
	width: 48px;
    text-align: center;
}

.tt-quick-refresh.tt-bail {
    position: absolute;
    margin-right: 48px;
}
