.tt-stack-block {
	width: 100%;
	text-align: center;
	height: 30vh;
	line-height: 30vh;
	font-size: 26px;
}

.tt-mouse-block {
	pointer-events: none;

	&.profile-button-attack,
	&.profile-button-revive {
		position: relative;
	}
}

.tt-stacking {
	color: var(--tt-color-item-text);

	&.tt-revive-block {
		font-size: 32px;
		position: absolute;
		left: -5px;
		top: -5px;
	}

	&.tt-attack-block {
		position: absolute;
		margin-left: -2.3%;
		transform: none;
	}

	&.stack-profile-block {
		width: 48px;
		height: 48px;
		position: absolute;
		color: var(--tt-color-item-text);
		left: 0;
		top: 0;
	}
}
