.tt-sidebar-information .title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	margin: inherit;
}

body:not(.dark-mode) .tt-sidebar-information .countdown.short {
	color: red;
}

body.dark-mode .tt-sidebar-information .countdown.short {
	color: #d83500;
}

.tt-sidebar-information .countdown.medium {
	color: darkorange;
}
