/*.tt-buy,*/
.tt-buy .buy-act {
	position: relative;
}

.tt-buy .buy-act button {
	transform: translateY(-5px);
}

.tt-max-buy {
	color: var(--tt-color-item-text);
	font-size: 9px;
	cursor: pointer;
}

.tt-mobile .tt-max-buy {
	border: none !important;
}

.tt-max-buy-overlay {
	position: absolute;
	top: 50%;
	height: 50%;
	left: 0;
	width: 100%;
}
