.preference-button {
	cursor: pointer;
	background: linear-gradient(180deg, #d7d7d7, #bdbdbd 17%, #989898 61%, #7e7e7e 83%, #7c7c7c 87%, #7f7f7f 91%, #868686 96%, #8a8a8a);
	border: 0;
	border-radius: 5px;
	color: #333 !important;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.4);
	vertical-align: top;
	height: 16px;
	line-height: 16px;
	text-decoration: none;
	box-sizing: content-box;
}

.preference-button:hover {
	background: linear-gradient(180deg, #fff, #cbcbcb 61%, #b0b0b0 83%, #acacac 91%, #b0b0b0 96%, #b1b1b1);
}

.preference-button[disabled] {
	color: #777 !important;
	cursor: default;
	text-shadow: 0 -1px 0 #ffffff66;
	box-shadow: 0 1px 0 #ffffffa6;
	background: transparent linear-gradient(180deg, #999999 0%, #cccccc 100%) 0 0 no-repeat;
}
