#stocks #search-bar {
	position: absolute;
	right: 10px;
	top: 47px;
	width: 100px;
	height: 10px;
	background-position: 4px;
	padding-left: 30px;
}

.portfolio {
	width: 42px;
	height: 30px;
	background-image: url("../../images/portfolio.svg");
	background-size: cover;
	cursor: pointer;
	position: absolute;
	right: 40px;
	top: 5px;
}

.stock-item {
	position: relative;
}

.stock-item .heading {
	font-size: 15px;
	margin-top: 13px;
	margin-bottom: 10px;
	font-weight: 600;
	cursor: pointer;
}

.stock-item .heading:hover {
	color: #717171;
}

.stock-item .profit {
	position: absolute;
	right: 5px;
	top: 15px;
	font-size: 15px;
	font-weight: 600;
}

.positive.profit {
	color: #678c00;
}

.negative.profit {
	color: red;
}

.stock-item div.stock-info-heading,
.stock-item div.benefit-info-heading {
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	background-color: #eaeaea;
	padding-left: 3px;
	padding-right: 3px;
}

.stock-item .heading-quantity {
	font-weight: 400;
	font-size: 12px;
}

.stock-item div.stock-info-heading i,
.stock-item div.benefit-info-heading i {
	float: right;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin: 4px 0 4px 10px;
	position: relative;
}

.stock-item .alerts-wrap {
	position: absolute;
	right: 5px;
	top: -2px;
	width: 90px;
}

.stock-item .alerts-wrap .alerts-heading {
	font-weight: 600;
	text-align: center;
}

.stock-item .alerts-wrap .alerts-input-wrap {
	height: 16px;
}

.stock-item .alerts-wrap .alerts-text {
	float: left;
	margin-right: 4px;
	font-size: 10px;
	width: 40px;
	line-height: 16px;
	text-align: right;
}

.stock-item .alerts-wrap .alerts-input {
	float: right;
	width: 40px;
	height: 12px;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

.stock-item div.stock-info,
.stock-item div.benefit-info {
	font-size: 13px;
}

.stock-item .stock-info:first-of-type {
	text-decoration: underline;
}

.benefit-info.desc.complete {
	font-weight: 600;
	color: #36b320;
}

.benefit-info.desc.incomplete {
	font-weight: 600;
	color: #e44204;
}
