.item-effect {
	font-weight: bold;
}

.item-effect.tabbed {
	margin-left: 15px;
}

.item-effect.double-tabbed {
	margin-left: 30px;
}

.item-effect.pro {
	color: var(--default-green-color);
}

.item-effect.con {
	color: var(--default-red-color);
}
