.tt-member-index {
	width: 4%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-right: 1px solid var(--default-panel-divider-outer-side-color);
}

.tt-mobile .tt-member-index {
	width: 25px;
	margin: 0;
	padding: 0;

	background-color: var(--default-bg-panel-color);
	position: absolute;
	left: -26px;
	top: 0;
}

body:not(.tt-mobile) .members-list.tt-modified .table-header .member {
	width: 38%;
}

body:not(.tt-mobile) .members-list.tt-modified .table-header .member-icons {
	width: 28%;
}

body:not(.tt-mobile) .members-list.tt-modified .table-row .member {
	width: 34%;
}

body:not(.tt-mobile) .members-list.tt-modified .table-row .member-icons {
	width: 28%;
}

body:not(.tt-mobile) .members-list.tt-modified .status {
	width: 8%;
}

body.tt-mobile .table-row {
	position: relative;
}
