.tt-custom-link-container {
	margin-bottom: 2px;
}

#sidebarroot .pill {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: var(--default-bg-panel-color);
	margin-top: 2px;
}

#sidebarroot .pill a {
	overflow: hidden;
	color: var(--default-font-color);
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 22px;
	margin-left: 8px;
}
