body {
	min-width: 600px;
}

#stakeouts #stakeoutList .delete-wrap {
	text-align: center;
}

#stakeouts #stakeoutList .delete {
	width: 25px;
}

#stakeouts #stakeoutList .delete i {
	color: red;
}

table button {
	height: 24px;
	line-height: 24px;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 6px;
	background: #f9f9f9;
	padding: unset;
}

/* Styles tables */

table {
	width: 100%;
	border-collapse: collapse;
}

body.light table tr.header {
	border-bottom: 2px solid black;
}

body.dark table tr.header {
	border-bottom: 2px solid white;
}

body.light table tr:not(.header):not(:last-child) {
	border-bottom: 1px solid #5b5b5b;
}

body.dark table tr:not(.header):not(:last-child) {
	border-bottom: 1px solid #a7a7a7;
}

body.light .row:hover {
	background-color: #ddd;
}

body.dark .row:hover {
	background-color: #555;
}

.id a,
.name a,
.last-attack a {
	text-decoration: none;
	color: inherit;
}
