[class*="chat-box-wrap_"].tt-modified {
	min-width: unset !important;
	width: 400px;
	/* max-height: 600px; */
	height: fit-content;
	/* background-color: #eaeaea; */
	border: 1px solid #4dbade;
	box-sizing: border-box;
}

/* Settings boxes */
[class*="chat-box-wrap_"].tt-modified [class*="chat-box-settings_"],
[class*="chat-box-wrap_"].tt-modified [class*="chat-box_"] {
	float: unset;
	width: 120px;
	margin: unset !important;
	position: unset !important;
}

/* Headers */
[class*="chat-box-wrap_"].tt-modified [class*="chat-box-head_"] {
	margin: unset !important;
	width: 120px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*="chat-box-title_"] {
	width: 114px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*="icon_"] {
	margin-left: -4px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*="l_"],
[class*="chat-box-wrap_"].tt-modified [class*="r_"] {
	display: none;
}

[class*="chat-box-wrap_"].tt-modified [class*="close_"] {
	position: absolute;
	right: -5px;
	top: -7px;
}

[class*="chat-box-wrap_"].tt-modified [class*="delete_"]. {
	float: unset !important;
	position: absolute;
	right: 5px;
}

/* Content */
[class*="chat-box-wrap_"].tt-modified [class*='chat-box-content_'] {
	position: absolute;
	top: 0;
	right: 0;
	width: 276px !important;
	height: 339px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*='chat-box-input_'] {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 276px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*='viewport_'] {
	height: 340px !important;
	max-height: 340px !important;
}

[class*="chat-box-wrap_"].tt-modified.find-enabled [class*='viewport_'] {
	height: 310px !important;
	max-height: 310px !important;
}

[class*="chat-box-wrap_"].tt-modified [class*="message_"] {
	width: 90%;
	border: 1px solid lightgray;
	border-radius: 0 10px 10px;
	position: relative;
	margin-top: 20px;
	margin-left: 7px;
	padding: 2px;
}

[class*="chat-box-wrap_"].tt-modified [class*="message_"] a {
	position: absolute;
	top: -17px;
	left: 0;
}
