.tt-title-torn {
	cursor: pointer !important;
}

.tt-areas-header.collapsed {
	margin-bottom: 2px !important;
}

.tt-areas-header .icon {
	line-height: inherit;
	font-size: 16px;
	position: absolute;
	top: 1px;
	right: 9px;
}

.tt-areas-header:hover .icon {
	right: 26px;
}

.tt-areas-header.collapsed .icon {
	transform: rotate(-90deg);
}

.tt-areas-header.collapsed + div {
	display: none;
}
