.tt-total-value {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	border-top: 1px solid lightgrey;
}

.tt-total-value span {
	color: var(--tt-color-item-text);
}

.tt-item-value {
	float: right;
	color: var(--tt-color-item-text);
}

.tt-item-value-unit,
.tt-item-value-total {
	color: var(--tt-color-item-text);
}

.tt-item-value-quantity {
	font-weight: bold;
	color: var(--tt-color-item-quantity);
}

body.tt-trade-values .log .desc {
	position: relative;
	color: var(--default-color) !important;
}

.tt-log-value {
	position: absolute;
	bottom: 2px;
	right: 3px;
	color: var(--tt-color-item-text);
}

.user.left > .title-black,
.user.right > .title-black {
	position: relative;
}

.tt-hide-values {
	position: absolute;
	right: 10px;
	top: 0;
	color: var(--tt-color-light-green);
	font-size: 12px;
}

.tt-hide-values input {
	position: relative;
	top: 2px;
	margin-left: 4px;
}

#trade-container > .title-black {
	position: relative;
}
