.tt-shop-filters {
	float: right;
	background: var(--tt-background-green);
	border-radius: 0 5px 0 0;
	padding: 0 8px;
	height: 30px;
}

body.tt-mobile .tt-shop-filters,
body.tt-tablet .tt-shop-filters {
	height: unset;
	border-radius: 0;
}

.tt-shop-filters input {
	margin-top: -2px;
}

.buy-items-wrap .items-list > li.last.empty {
	display: none;
}
