.tt-display-worth span {
	color: var(--tt-color-item-text);
}

.tt-display-worth .tt-svg {
	width: 34px;
	height: 34px;
	margin-top: 1.5px;
	transform: scale(0.75);
	stroke: #fff;
	fill: #fff;
}

.tt-display-worth .tt-svg .tt-svg-upper,
.tt-display-worth .tt-svg .tt-svg-lower {
	stroke: #fff;
	fill: #fff;
}
