.tt-display-worth span {
	color: var(--tt-color-item-text);
}

.tt-display-worth svg {
	width: 34px;
	height: 34px;
	margin-top: 1.5px;
	transform: scale(0.75);
}

.tt-display-worth svg .tt-T-upper,
.tt-display-worth svg .tt-T-lower,
.tt-display-worth svg .tt-t-upper,
.tt-display-worth svg .tt-t-middle,
.tt-display-worth svg .tt-t-lower {
	stroke: #fff;
	fill: #fff;
}
