.tt-settings {
	margin-bottom: 2px;
	height: 23px;
}

.tt-settings a {
	display: inline-block !important;
}

.tt-settings svg {
	width: 21px;
	height: 21px;
	margin-left: 5px;
	display: inline-block;
}

.tt-back {
	text-shadow: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	width: auto;
	margin-right: 26px;
	border: none;
	position: relative;
	background: 0 0;
	font-weight: 700;
	line-height: 24px;
	color: var(--content-title-links);
	cursor: pointer;
	text-decoration: none;
	float: right;
}

.tt-back svg {
	display: block;
	width: 15px;
	height: 16px;
	padding: 5px;
	fill: var(--content-title-links);
}

.tt-settings-iframe {
	height: 85%;
	width: 80%;
	position: absolute;
	top: 110px;
	left: 222px;
	background-color: white;
}
