<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			width: 300px;
			font-family: Arial;
		}
		h3 {
			font-size: 20px;
		}
		p {
			font-size: 13px;
		}
	</style>
</head>
<body>
	<h3>Welcome to Torn<span style="color: green">Tools</span>!</h3>
	<p>Please enter your API key</p>
	<input type="text" id="api-field">
	<button id="set-button">Set</button>

	<script type="text/javascript" src="../../scripts/js/globalFunctions.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>