.tt-specialist-gym {
	margin-top: 10px;
}

.tt-specialist-gym > main {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.tt-specialist-gym-selects-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 5px;
	margin-bottom: 5px;
}

.tt-specialist-gym-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	padding: 10px;
}

.tt-specialist-stats-info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.tt-specialist-stat-info {
	flex: 1;
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 1px solid #c8c0c0;
	border-radius: 10px;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px;
}

.tt-specialist-stat-header {
	align-self: center;
	font-weight: bold;
	text-decoration: underline;
}

.tt-specialist-stat-value {
	align-self: center;
}

.tt-specialist-stat-info .tt-specialist-stat-required,
.tt-specialist-stat-info .tt-specialist-stat-allowed {
	font-size: 0.9em;
}

.tt-specialist-stat-required {
	color: var(--tt-color-red);
}

.tt-specialist-stat-allowed {
	color: var(--tt-color-green);
}

.tt-specialist-gyms-message {
	font-weight: bold;
}
