/* OC */
.tt-oc-time {
    font-size: 11px;
    font-weight: 600;
    display: block;
    position: relative;
    top: 8px;
    right: -7px;
}

.level.torntools-modified {
    width: 100px !important;
}
.offences.torntools-modified {
    width: 55px !important;
}

.tt-nnb {
    text-align: right;
    width: 154px;
}
.tt-nnb.short {
    width: 88px;
}

/* Armory logs */
#tab4-4 .news-list .date .left-date {
    position: relative;
    left: -3px;
}

#tab4-4 .news-list .date .separator {
    position: relative;
    top: -6px;
}

#tab4-4 .news-list .date .right-date {
    position: relative;
    left: 2px;
}

/* Chain Report */
#ttExportTableButton {
    width: 120px;
    padding: 6px;
    cursor: pointer;
    color: white;
    background-color: #9a9a9a;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 4px;
}

#ttExportTableButton:hover {
    background-color: gray;
}

/* Announcement & Info page */
.tt-force-full {
    overflow-y: unset !important;
    max-height: unset !important;
}

/* User detailed info */
#faction-info .member-list.info-members.tt-modified {
    background-color: unset;
}
#faction-info .member-list.info-members.tt-modified>li {
    background-color: #F2F2F2;
}
#faction-info .member-list.info-members li.tt-user-info {
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;
    width: 782px;
    color: #7b7b7b;
    background-color: #dcdcdc !important;
}

.tt-user-info .tt-user-info-inner-wrap {
    margin: auto;
}
.tt-user-info .tt-user-info-inner-wrap div {
    display: inline-block;
    vertical-align: top;
}

.tt-user-info-inner-wrap .tt-divider {
    padding: 0 13px;
}