.tt-hidden {
	width: fit-content;
	margin: auto;
	font-weight: bold;
	line-height: 15;
}

.tt-hidden-parent {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tt-hidden + a {
	display: none;
}

.tt-msg {
	color: #07a207;
}
