#tt-container {
	width: 400px;
	height: 700px;
	position: fixed;
	right: -370px;
	top: 130px;
	z-index: 9999;
	transition: right 0.4s;
	-webkit-transition: right 0.4s;
}

#tt-container:hover {
	right: 0;
}

#tt-pin {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 17px;
}

#tt-pin.active {
	color: #ef3f3f;
}

#tt-inner {
	background-color: #eaeaea;
	height: 670px;
	width: 100%;
}