.tt-city-total {
	font-size: 14px;
	margin-bottom: 2px;

	.tt-city-total-text {
		font-weight: bold;
	}

	.tt-city-total-value {
		color: var(--tt-color-item-text);
	}
}

.tt-city-items {
	line-height: 14px;
	/*noinspection CssNonIntegerLengthInPixels*/
	letter-spacing: 0.2px;

	span:nth-of-type(odd) {
		color: #aaa;
	}

	.list-item {
		cursor: pointer;
	}
}
