.tt-compact > li {
	height: 14px !important;
	line-height: 14px !important;
	/*padding-left: 4px;*/
}

.tt-compact .ttl .title,
.tt-compact > li a {
	padding-left: 4px !important;
	padding-right: 6px !important;
}

.tt-compact > li i {
	display: none !important;
}
