.onlyNewFeedButton {
	display: flex;
	align-items: center;
	float: right;
	height: 100%;
	color: currentColor;
	cursor: pointer;

	&:hover {
		color: darkgray;
	}
}

:global(.title-black:not(.active)) .onlyNewFeedButton {
	/* Very specific margin to make sure the button doesn't move when the icon rotates. */
	/*noinspection CssNonIntegerLengthInPixels*/
	margin-right: 2.8px;
}

.onlyShowNewPosts :global(li:not(.new):not(.empty)) {
	display: none !important;
}

.nothingToShow {
	padding: 10px;
	display: none;

	.onlyShowNewPosts :global(.panel-scrollbar:has(li:not(.tt-hidden):not(.empty):not(.new)):not(:has(li.new))) & {
		display: block;
	}
}
