.tt-buy {
	position: relative;
}

.tt-buy .buy {
	margin-top: -14px !important;
	line-height: 20px !important;
}

.tt-max-buy {
	color: #82c91e;
	position: absolute;
	width: 35px;
	text-align: center;
	border-left: 2px solid #ccc;
	height: 15px;
	line-height: 15px;
	bottom: -17px;
	right: 0;
	font-size: 9px;
	font-weight: bold;
}

.dark-mode .tt-max-buy {
	border-left: 2px solid #222 !important;
}
