.tt-creator {
	display: flex;
	align-items: center;
	margin: -4px 0 4px 0;
}

.tt-creator .tt-svg {
	width: 24px;
	height: 24px;
}

body.dark-mode .tt-creator .tt-svg .tt-svg-upper {
	stroke-width: 3px;
	stroke: #fff;
	fill: #000;
}

body.dark-mode .tt-creator .tt-svg .tt-svg-upper rect:nth-child(1) {
	stroke-dasharray: 116px 19px;
}

body.dark-mode .tt-creator .tt-svg .tt-svg-upper rect:nth-child(2) {
	stroke-dashoffset: 22px;
	stroke-dasharray: 22px 22px 126px 0;
}

.tt-creator span {
	margin-left: 4px;
	font-size: 18px;
}
