/*
 * Quick Items
 */

#quickItems .inner-content {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#quickItems .content.drag-progress * {
	pointer-events: none;
}

#quickItems .inner-content .item {
	display: inline-block;
	border: 1px solid lightgray;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
}

#quickItems .inner-content .item:hover .tt-close-icon {
	opacity: 1;
}

#quickItems .inner-content .item .tt-close-icon {
	opacity: 0;
	position: absolute;
	top: 3px;
	right: 3px;
	color: #a7a7a7;
}

#quickItems .inner-content .item .tt-close-icon:hover {
	color: gray;
}

#quickItems .inner-content .temp.item {
	opacity: 0.2;
	border: 1px solid gray;
}

#quickItems .inner-content .item .pic {
	width: 60px;
	height: 30px;
	background-size: cover;
	margin: auto;
}

#quickItems .inner-content .item .text {
	text-align: center;
}

#quickItems .inner-content .item .sub-text {
	text-align: center;
	font-size: 10px;
	color: gray;
}

#quickItems .response-wrap {
	display: none;
	padding: 10px;
	background-color: white;
	text-align: center;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#quickItems .ajax-placeholder {
	left: 0 !important;
}

/*
 * Blood Bags
 */

.good-blood {
	background-color: #bdecb9b5 !important;
}

.bad-blood {
	background-color: #f5b2b28a !important;
}

/*
 * Item values 
 */

.tt-item-price {
	color: #678c00;
	width: unset !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	white-space: pre;
}

span.tt-item-price {
	float: right;
}

.tt-item-quantity {
	color: black;
	font-weight: 600;
}

/*
 * Drug information
 */

.item-effect {
	font-weight: 700;
}

.item-effect.tabbed {
	margin-left: 15px;
}

.item-effect.double-tabbed {
	margin-left: 30px;
}

/*
 * Market Icon
 */

.outside-actions {
	display: flex;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	background-color: var(--default-bg-panel-color, #f2f2f2);
	border: 1px solid var(--default-panel-divider-outer-side-color, #ccc);
	margin: -2px 0 0 4px;
}

.outside-actions.first-action {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.outside-actions.last-action {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.outside-actions .torn-icon-item-market {
	height: 30px !important;
}

/*
 * Missing plushies and flowers
 */

.needed-item {
	/*pointer-events: none;*/
	background-color: var(--default-bg-panel-color, #f2f2f2);
	opacity: 0.4;
	border-bottom: 1px solid var(--default-panel-divider-outer-side-color, #ccc);
}

.needed-item:last-child {
	border-radius: 0 0 5px 5px;
}

.needed-item > img {
	line-height: 32px;
	width: 58px;
	height: 30px;
	vertical-align: bottom;
	border-right: 2px solid #ccc;
}

.needed-item > span {
	line-height: 32px;
	padding-left: 10px;
}
