.tt-disable-ally.tt-cross {
	width: 35px;
	height: 35px;
	/*padding: 7px;*/
	/*transform: translate(-4px, -51px);*/
	position: absolute;
}

.tt-disable-ally-attack {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #999;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	/*noinspection CssInvalidFunction*/
	text-shadow: 0 1px 0 hsl(0deg 0% 100% / 40%);
	color: #333;
}
