.tt-awards-time {
	font-size: 10px;
	color: #bfbfbf;
}

.tt-ach-tooltip {
	position: absolute;
	display: none;
	z-index: 999999;
}

.tt-ach-tooltip-arrow {
	float: left;
	position: relative;
	left: -5px;
	top: 1px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid white;
}

.tt-ach-tooltip-text {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	line-height: 16px;
}

.tt-completed {
	color: #11c511 !important;
}

.line-progress {
	width: fit-content;
	position: relative;
	z-index: 0;
	display: inline-block;
	padding-bottom: 20px;
}

.line-progress > div {
	display: inline-block;
	text-align: center;
	padding: 0 3px;
	font-family: Arial;
	font-size: 12px;
	position: relative;
}

.line-progress > div .point {
	width: inherit;
}

.line-progress > div .point:after {
	border: 5px solid #5f5f5f;
	border-radius: 50%;
	position: absolute;
	content: "";
	margin-left: -4px;
}

.line-progress > div:not(:first-of-type) .point:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border: 1px solid #bbbbbb;
	background-color: #bbbbbb;
	left: -60%;
	top: 19px;
	z-index: -1;
}

.point.progress:after {
	border-color: #da1313 !important;
}
