.tt-mission-reward {
	box-sizing: border-box;
	border-color: black !important;
	border-image: none !important;
	border-top: 1px solid transparent !important;
}

.tt-mission-reward.affordable {
	border-top-color: var(--tt-color-green) !important;
}

.tt-mission-reward.not-affordable {
	border-top-color: var(--tt-color-red) !important;
}

.rewards-list li.tt-modified {
	height: 160px !important;
}

body.tt-tablet .rewards-list li.tt-modified {
	height: 164px !important;
}

.tt-mission-reward-owned,
.tt-mission-reward-total {
	margin-top: 60px;
}

body.tt-tablet .tt-mission-reward-owned,
body.tt-tablet .tt-mission-reward-total {
	margin-top: 66px;
}

.tt-mission-reward-owned,
.tt-mission-reward-total,
.tt-mission-reward-points {
	text-align: left;
	padding-left: 7px;
}

.tt-mission-reward-owned span,
.tt-mission-reward-total span,
.tt-mission-reward-points span {
	color: #678c00;
}

.tt-mobile .tt-mission-reward-owned,
.tt-mobile .tt-mission-reward-total {
	margin-top: 66px;
}

.tt-mission-reward-individual {
	color: var(--tt-color-light-green);
	position: absolute;
	left: 18px;
	bottom: 6px;
	font-size: 11px;
}

.tt-mobile .tt-mission-reward-individual {
	left: 34px;
}
