.quick-items-list {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;

	.quick-item {
		display: inline-block;
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
		position: relative;

		.name {
			text-align: center;
			align-content: center;
		}

		&[data-action] .name {
			height: 100%;
			width: 80px;
		}
	}
}
