#ttBugWarning {
	font-size: 16px;
	line-height: 16px;
	color: white;
	padding: 16px;
	background: var(--tt-background-green);
	text-shadow: var(--tutorial-title-shadow);
	font-weight: bold;
}

#ttBugWarning .bug-help {
	cursor: pointer;
}

#tt-help-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	border-radius: 8px;
	padding: 10px;
	background: var(--tt-background-popup);
	box-shadow: var(--tt-shadow-popup);
}

body.tt-mobile #tt-help-popup {
	width: fit-content;
	width: -moz-fit-content;
}

#tt-help-popup a {
	text-decoration: none;
	color: var(--default-blue-color);
}

.warning-text {
	color: var(--tt-color-red);
}
