.tt-hide-newspaper-highlight #nav-newspaper:not([class*='area-mobile___']) [class*='area-row___'] {
	background-color: var(--default-bg-panel-color) !important;

	svg {
		fill: url(#sidebar_svg_gradient_regular_desktop);
	}
}

.tt-hide-newspaper-highlight #nav-newspaper[class*='area-mobile___'] [class*='area-row___'] {
	.sidebarMobileLink {
		color: #999;
	}

	svg {
		fill: url(#sidebar_svg_gradient_regular_mobile);
		filter: drop-shadow(0 0 1.3px #000);
	}
}
