.tt-settings {
	margin-bottom: 2px;
	height: 23px;

	a {
		display: inline-block !important;
	}

	svg {
		width: 21px;
		height: 21px;
		margin-left: 5px;
		display: inline-block;
	}
}

.tt-back {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000000000;
	border-radius: 8px;
	padding: 8px 12px;

	display: flex;
	font-weight: bolder;
	cursor: pointer;

	&[data-internal-theme="dark"] {
		color: #666;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&[data-internal-theme="light"] {
		color: #444;
		background-color: rgba(140, 140, 140, 0.7);
	}

	svg {
		margin-right: 5px;
	}
}

#tt-settings-iframe {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 999999999;
}

body.tt-iframe-open {
	overflow: hidden;

	.content {
		display: none;
	}
}
