.travel-profits [class*="stockTableWrapper___"] {
	[class*="itemsHeader___"],
	[class*="row___"] {
		grid-template-columns: 71px 1.5fr repeat(2, 1fr) 90px repeat(3, 80px);
	}
}

@media screen and (max-width: 785px) {
	.travel-profits [class*="stockTableWrapper___"] [class*="itemsHeader___"],
	.travel-profits [class*="row___"] {
		grid-template-columns: [item] 65px [name] 1fr [stock] 44px [profit] 90px [cost] 66px [buy] 34px !important;
	}

	[data-tt-content-type] {
		grid-area: attr(data-tt-content-type) !important;
	}

	.travel-market-heading,
	.travel-market-cell {
		border-left: 1px solid var(--default-panel-divider-inner-side-color);
		grid-area: profit;
	}
}

@media screen and (max-width: 450px) {
	.travel-profits [class*="stockTableWrapper___"] {
		[class*="itemsHeader___"],
		[class*="row___"] {
			grid-template-columns: [item] 60px [name] 1fr [cost] 66px [profit] 60px [stock] 44px [buy] 32px !important;
		}
	}
}

.travel-market-heading,
.travel-market-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10px;
	position: relative;
}

.travel-market-heading:before,
.travel-market-cell:before {
	background: var(--divider-white-right-linear-gradient);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}

.travel-market-heading:after,
.travel-market-cell:after {
	background: var(--divider-white-left-linear-gradient);
	bottom: 0;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
