.tt-travel-profits [class*="stockTableWrapper___"] {
	[class*="stockHeader___"],
	[class*="row___"] {
		grid-template-columns: 71px 1.5fr repeat(2, 1fr) repeat(4, 80px);
	}
}

.tt-tablet,
.tt-mobile {
	&.tt-travel-profits [class*="stockTableWrapper___"] {
		[class*="stockHeader___"],
		[class*="row___"] {
			grid-template-columns: 71px 1fr 80px 44px;
		}
	}
}

.tt-travel-market-heading,
.tt-travel-market-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10px;
	position: relative;
}

.tt-travel-market-heading:before,
.tt-travel-market-cell:before {
	background: var(--divider-white-right-linear-gradient);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}

.tt-travel-market-heading:after,
.tt-travel-market-cell:after {
	background: var(--divider-white-left-linear-gradient);
	bottom: 0;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
