.tt-travel-profits [class*="stockTableWrapper___"] {
	[class*="itemsHeader___"],
	[class*="row___"] {
		grid-template-columns: 71px 1.5fr repeat(2, 1fr) repeat(4, 80px);
	}
}

.tt-tablet,
.tt-mobile {
	&.tt-travel-profits [class*="stockTableWrapper___"] {
		[class*="itemsHeader___"],
		[class*="row___"] {
			grid-template-columns: 71px 1fr 80px 44px;
		}
	}
}

.tt-travel-market-heading,
.tt-travel-market-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10px;
	position: relative;
}

.tt-travel-market-heading:before,
.tt-travel-market-cell:before {
	background: var(--divider-white-right-linear-gradient);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}

.tt-travel-market-heading:after,
.tt-travel-market-cell:after {
	background: var(--divider-white-left-linear-gradient);
	bottom: 0;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}

/*.travel-agency-market .tt-travel-market-heading {*/
/*	width: 100px;*/
/*	float: left;*/
/*	padding: 0 10px 0 7px;*/
/*	text-align: right;*/
/*	border-left: 2px solid #ccc;*/
/*	padding-left: 0 !important;*/
/*}*/

/*.travel-agency-market li.first .tt-travel-market-cell {*/
/*	border-top: 1px solid transparent;*/
/*}*/

/*.travel-agency-market .tt-travel-market-cell {*/
/*	width: 93px;*/
/*	padding: 0 10px 0 7px;*/
/*	vertical-align: middle;*/
/*	height: 34px;*/
/*	line-height: 34px;*/
/*	display: inline-block;*/
/*	font-size: 12px;*/
/*	text-align: right;*/
/*}*/

/*body:not(.dark-mode) .travel-agency-market .tt-travel-market-cell {*/
/*	border-left: 2px solid #ccc;*/
/*}*/

/*.dark-mode .travel-agency-market .tt-travel-market-cell {*/
/*	border-left: 2px solid #222;*/
/*}*/

/*.tt-travel-profits [data-tt-content-type="stock"] {*/
/*	width: 70px !important;*/
/*}*/

/*body:is(.tt-mobile, .tt-tablet) .tt-travel-market-heading {*/
/*	right: 0;*/
/*	width: fit-content;*/
/*	position: absolute;*/
/*}*/

/*body:is(.tt-mobile, .tt-tablet) .travel-agency-market.tt-travel-profits-table .users-list {*/
/*	overflow: auto !important;*/
/*}*/

/*body:is(.tt-mobile, .tt-tablet) .travel-agency-market.tt-travel-profits-table .users-list > li > span {*/
/*	width: max-content;*/
/*	background-color: var(--default-bg-panel-color);*/
/*	border-bottom-color: var(--default-panel-divider-outer-side-color);*/
/*}*/
