.travel-agency-market .tt-travel-market-heading {
	width: 100px;
	float: left;
	padding: 0 10px 0 7px;
	text-align: right;
	border-left: 2px solid #ccc;
	padding-left: 0 !important;
}

.travel-agency-market li.first .tt-travel-market-cell {
	border-top: 1px solid transparent;
}

.travel-agency-market .tt-travel-market-cell {
	width: 93px;
	padding: 0 10px 0 7px;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	font-size: 12px;
	text-align: right;
}

body:not(.dark-mode) .travel-agency-market .tt-travel-market-cell {
	border-left: 2px solid #ccc;
}

.dark-mode .travel-agency-market .tt-travel-market-cell {
	border-left: 2px solid #222;
}

.tt-travel-profits .items-list-title .stock-b,
.tt-travel-profits .users-list li .stock {
	width: 70px !important;
}

.tt-travel-profits .items-list-title .circulation-b,
.tt-travel-profits .users-list li .circulation {
	display: none !important;
}
