.tt-upkeep > div {
	background-color: var(--sidebar-area-bg-available) !important;
}

.tt-mobile .tt-upkeep > div {
	background-color: unset !important;
}

.tt-mobile .tt-upkeep span:not([class*="svgIconWrap"]) {
	color: #85b200 !important;
}
