.tt-cooldowns {
	background: #2e2e2e;
	color: white;
	padding: 10px;
}

.tt-cooldowns .travel-wrap {
	display: flex;
	background: url("https://www.torn.com/images/v2/travel_agency/pattern.gif") repeat;
	border-radius: 5px;
	box-shadow:
		inset 0 1px #151515,
		inset 0 -1px #404040;
}

.tt-cooldowns .cooldown {
	flex: 1 0 0;
	line-height: 60px;
	text-align: center;
}

.tt-mobile .tt-cooldowns .travel-wrap,
.tt-tablet .tt-cooldowns .travel-wrap {
	/*	padding-bottom: 0 !important;*/
}

.tt-cooldowns .cooldown:first-child {
	border-right: 1px solid rgb(17, 17, 17);
}

.tt-cooldowns .cooldown:last-child {
	border-left: 1px solid rgb(61, 61, 61);
}

.tt-cooldowns .cooldown:not(:first-child):not(:last-child) {
	border-right: 1px solid rgb(17, 17, 17);
	border-left: 1px solid rgb(61, 61, 61);
}

.tt-cooldowns .waste,
.tt-cooldowns ~ .cooldown.waste {
	display: block;
	color: red;
}

.tt-cooldowns ~ .cooldown {
	display: none;
	text-shadow: none;
	color: white;
	padding: 2px 12px;
	background: rgb(46, 46, 46);
}
