@keyframes tt-flash {
	0% {
		background-color: initial;
	}
	50% {
		background-color: #769e07;
	}
	100% {
		background-color: initial;
	}
}

.tt-flash {
	animation-name: tt-flash;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.tt-bazaar-redirect {
	color: var(--tt-color-item-text);
}
