.tt-buy {
	height: 27px !important;
}

.tt-max-buy {
	color: var(--tt-color-item-text);
	position: absolute;
	height: 15px;
	line-height: 15px;
	bottom: 0;
	left: 7px;
	font-size: 9px;
	cursor: pointer;
}

.tt-mobile .tt-max-buy {
	border: none !important;
}
