#sidebarroot ul[class*="status-icons_"] > li[class*="icon1_"] {
	display: var(--torntools-hide-icons-icon1, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon2_"] {
	display: var(--torntools-hide-icons-icon2, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon3_"] {
	display: var(--torntools-hide-icons-icon3, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon4_"] {
	display: var(--torntools-hide-icons-icon4, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon5_"] {
	display: var(--torntools-hide-icons-icon5, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon6_"] {
	display: var(--torntools-hide-icons-icon6, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon7_"] {
	display: var(--torntools-hide-icons-icon7, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon8_"] {
	display: var(--torntools-hide-icons-icon8, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon9_"] {
	display: var(--torntools-hide-icons-icon9, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon10_"] {
	display: var(--torntools-hide-icons-icon10, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon11_"] {
	display: var(--torntools-hide-icons-icon11, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon12_"] {
	display: var(--torntools-hide-icons-icon12, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon13_"] {
	display: var(--torntools-hide-icons-icon13, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon14_"] {
	display: var(--torntools-hide-icons-icon14, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon15_"] {
	display: var(--torntools-hide-icons-icon15, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon16_"] {
	display: var(--torntools-hide-icons-icon16, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon17_"] {
	display: var(--torntools-hide-icons-icon17, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon18_"] {
	display: var(--torntools-hide-icons-icon18, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon19_"] {
	display: var(--torntools-hide-icons-icon19, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon20_"] {
	display: var(--torntools-hide-icons-icon20, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon21_"] {
	display: var(--torntools-hide-icons-icon21, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon22_"] {
	display: var(--torntools-hide-icons-icon22, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon23_"] {
	display: var(--torntools-hide-icons-icon23, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon24_"] {
	display: var(--torntools-hide-icons-icon24, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon25_"] {
	display: var(--torntools-hide-icons-icon25, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon26_"] {
	display: var(--torntools-hide-icons-icon26, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon27_"] {
	display: var(--torntools-hide-icons-icon27, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon28_"] {
	display: var(--torntools-hide-icons-icon28, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon29_"] {
	display: var(--torntools-hide-icons-icon29, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon30_"] {
	display: var(--torntools-hide-icons-icon30, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon31_"] {
	display: var(--torntools-hide-icons-icon31, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon32_"] {
	display: var(--torntools-hide-icons-icon32, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon33_"] {
	display: var(--torntools-hide-icons-icon33, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon34_"] {
	display: var(--torntools-hide-icons-icon34, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon35_"] {
	display: var(--torntools-hide-icons-icon35, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon36_"] {
	display: var(--torntools-hide-icons-icon36, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon37_"] {
	display: var(--torntools-hide-icons-icon37, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon38_"] {
	display: var(--torntools-hide-icons-icon38, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon39_"] {
	display: var(--torntools-hide-icons-icon39, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon40_"] {
	display: var(--torntools-hide-icons-icon40, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon41_"] {
	display: var(--torntools-hide-icons-icon41, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon42_"] {
	display: var(--torntools-hide-icons-icon42, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon43_"] {
	display: var(--torntools-hide-icons-icon43, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon44_"] {
	display: var(--torntools-hide-icons-icon44, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon45_"] {
	display: var(--torntools-hide-icons-icon45, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon46_"] {
	display: var(--torntools-hide-icons-icon46, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon47_"] {
	display: var(--torntools-hide-icons-icon47, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon48_"] {
	display: var(--torntools-hide-icons-icon48, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon49_"] {
	display: var(--torntools-hide-icons-icon49, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon50_"] {
	display: var(--torntools-hide-icons-icon50, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon51_"] {
	display: var(--torntools-hide-icons-icon51, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon52_"] {
	display: var(--torntools-hide-icons-icon52, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon53_"] {
	display: var(--torntools-hide-icons-icon53, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon54_"] {
	display: var(--torntools-hide-icons-icon54, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon55_"] {
	display: var(--torntools-hide-icons-icon55, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon56_"] {
	display: var(--torntools-hide-icons-icon56, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon57_"] {
	display: var(--torntools-hide-icons-icon57, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon58_"] {
	display: var(--torntools-hide-icons-icon58, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon59_"] {
	display: var(--torntools-hide-icons-icon59, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon60_"] {
	display: var(--torntools-hide-icons-icon60, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon61_"] {
	display: var(--torntools-hide-icons-icon61, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon62_"] {
	display: var(--torntools-hide-icons-icon62, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon63_"] {
	display: var(--torntools-hide-icons-icon63, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon64_"] {
	display: var(--torntools-hide-icons-icon64, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon65_"] {
	display: var(--torntools-hide-icons-icon65, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon66_"] {
	display: var(--torntools-hide-icons-icon66, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon67_"] {
	display: var(--torntools-hide-icons-icon67, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon68_"] {
	display: var(--torntools-hide-icons-icon68, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon69_"] {
	display: var(--torntools-hide-icons-icon69, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon70_"] {
	display: var(--torntools-hide-icons-icon70, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon71_"] {
	display: var(--torntools-hide-icons-icon71, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon72_"] {
	display: var(--torntools-hide-icons-icon72, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon73_"] {
	display: var(--torntools-hide-icons-icon73, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon74_"] {
	display: var(--torntools-hide-icons-icon74, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon75_"] {
	display: var(--torntools-hide-icons-icon75, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon76_"] {
	display: var(--torntools-hide-icons-icon76, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon77_"] {
	display: var(--torntools-hide-icons-icon77, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon78_"] {
	display: var(--torntools-hide-icons-icon78, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon79_"] {
	display: var(--torntools-hide-icons-icon79, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon80_"] {
	display: var(--torntools-hide-icons-icon80, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon81_"] {
	display: var(--torntools-hide-icons-icon81, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon82_"] {
	display: var(--torntools-hide-icons-icon82, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon83_"] {
	display: var(--torntools-hide-icons-icon83, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon84_"] {
	display: var(--torntools-hide-icons-icon84, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon85_"] {
	display: var(--torntools-hide-icons-icon85, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon86_"] {
	display: var(--torntools-hide-icons-icon86, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon87_"] {
	display: var(--torntools-hide-icons-icon87, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon88_"] {
	display: var(--torntools-hide-icons-icon88, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon89_"] {
	display: var(--torntools-hide-icons-icon89, inline-block);
}

#sidebarroot ul[class*="status-icons_"] > li[class*="icon90_"] {
	display: var(--torntools-hide-icons-icon90, inline-block);
}
