/*
 * Credits to Mauk / DoctorN.
 */
.highlight-items .city-item,
.city-item.force-hover {
	box-sizing: border-box;
	box-shadow: rgb(0, 0, 0) 0 0 20px 10px;
	display: block !important;
	width: 38px !important;
	height: 38px !important;
	left: -1px !important;
	top: -9px !important;
	z-index: 999 !important;
	padding: 10px 0;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	border-radius: 100%;
	background: rgba(18, 71, 7, 0.5);
	transition:
		width 50ms cubic-bezier(0.65, 0.05, 0.36, 1),
		height 50ms cubic-bezier(0.65, 0.05, 0.36, 1),
		left 50ms cubic-bezier(0.65, 0.05, 0.36, 1),
		top 50ms cubic-bezier(0.65, 0.05, 0.36, 1),
		padding 50ms cubic-bezier(0.65, 0.05, 0.36, 1),
		background 50ms 0ms;
	animation: svelte-1dz9z41-fade-in 500ms ease-out backwards;
}

/*
 * Credits to Mauk / DoctorN.
 */
.highlight-items .city-item:hover,
.city-item.force-hover {
	width: 150px !important;
	height: 150px !important;
	left: -60px !important;
	top: -62px !important;
	z-index: 1000 !important;
	padding: 37px 0;
	background: black;
}

.tt-city-total {
	font-size: 14px;
	margin-bottom: 2px;
}

.tt-city-total-text {
	font-weight: bold;
}

.tt-city-total-value {
	color: var(--tt-color-item-text);
}

.city-table {
	display: flex;
}

.tt-city-items {
	line-height: 14px;
	/*noinspection CssNonIntegerLengthInPixels*/
	letter-spacing: 0.2px;
}

.tt-city-items span:nth-of-type(odd) {
	color: #aaa;
}
