#jailFilter {
	margin-top: 10px;
}

#jailFilter .time-filter-info-wrap,
#jailFilter .level-filter-info-wrap,
#jailFilter .score-filter-info-wrap {
	text-align: center;
    padding-top: 10px;
    margin: auto;
}
