#changelog > section {
	border: unset;
}

#changelog .title {
	cursor: pointer;
	border-bottom: 1px solid lightgrey;
	padding: 2px 0 2px 5px;
	height: 23px;
	line-height: 23px;
	font-size: 15px;
}

#changelog .current .title {
	color: red;
}

#changelog .title i {
	float: right;
	position: relative;
	top: 7px;
}

#changelog .list {
	margin-left: 20px;
}

#changelog .subheader {
	font-weight: bold;
}

#changelog .list > *:not(.subheader) {
	margin-left: 20px;
}

#changelog .contributor a {
	text-decoration: none;
	color: inherit;
}

#changelog .contributor > *:before {
	display: inline-block;
	width: 5px;
	height: 5px;
	content: "";
	border-radius: 50%;
	margin-right: 4px;
	background-color: var(--contributor-color, white);
	border: 2px solid var(--contributor-color, white);
}
