main#preferences > h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8em;
}

body.tt-mobile main#preferences {
	margin: auto;
}

body.tt-mobile main#preferences > section {
	width: 88%;
}

body.tt-mobile .no-mobile {
	display: none !important;
}

/* endregion */

/* region Search */

#preferences-search {
	position: relative;
	display: inline-block;
	left: 7%;
	border-radius: 5px;
}

body.light #preferences-search {
	background-color: #fff;
	color: #5a5a5a;
	border: 1px solid #666;
}

body.dark #preferences-search {
	background-color: #5a5a5a;
	color: #fff;
}

#preferences-search .search-wrap {
	display: block;
	width: 145px;
	height: fit-content;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: initial;
	line-height: 1.5;
}

#preferences-search .search {
	float: left;
	display: inline;
	margin: 4px 0 4px 10px;
}

#preferences-search i {
	float: right;
	margin: 6px 10px 4px 0;
	padding: 2px;
	display: inline;
	border-radius: 5px;
}

#tt-search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #00000059;
}

#tt-search-overlay > div {
	height: 80%;
	margin: 5% 12.5%;
	display: flex;
	flex-direction: column;
}

#tt-search-overlay #content-div {
	display: inline-flex;
	flex-wrap: nowrap;
}

#tt-search-overlay .circle {
	display: inline-block;
	margin: auto 10px auto auto;
	font-size: 27px;
	border-radius: 50%;
}

body.light #tt-search-overlay .circle {
	background-color: white;
}

body.dark #tt-search-overlay .circle {
	color: white;
	background-color: #333;
}

#tt-search-overlay input {
	font-size: large;
	border: #acea00 solid;
	border-radius: 15px;
	padding-left: 10px;
	display: inline-block;
	position: relative;
	flex-shrink: 0;
	flex-grow: 1;
}

body.dark #tt-search-overlay input {
	background-color: #333;
	color: white;
}

#tt-search-overlay #tt-search-button {
	display: inline-block;
	width: 39px;
	height: 30px;
	margin-left: 10px;
	padding: 9px 0 6px 12px;
	border: #858585 3px solid;
	border-radius: 15px;
	color: #acea00;
	font-size: 27px;
	cursor: pointer;
}

body.light #tt-search-overlay #tt-search-button {
	background-color: white;
}

body.dark #tt-search-overlay #tt-search-button {
	background-color: #333;
}

#tt-search-list {
	height: 100%;
	margin-top: 10px;
	padding: 10px 0 0 10px;
	border-radius: 15px;
	font-size: large;
	/*noinspection CssNoGenericFontName*/
	font-family: Arial;
	overflow-y: scroll;
	overflow-wrap: break-word;
	scrollbar-width: thin;
}

body.light #tt-search-list {
	background-color: #f2f2f2;
}

body.dark #tt-search-list {
	background-color: #444;
}

#tt-search-list::-webkit-scrollbar-thumb {
	border-radius: 5px;
}

body.light #tt-search-list::-webkit-scrollbar-thumb {
	background: #666;
}

body.dark #tt-search-list::-webkit-scrollbar-thumb {
	background: #999;
}

#tt-search-list > div {
	cursor: pointer;
}

#no-result {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: larger;
}

@keyframes search-animation {
	0% {
		background-color: initial;
	}
	50% {
		background-color: rgba(118, 158, 7, 0.4);
	}
	100% {
		background-color: initial;
	}
}

.searched {
	animation-name: search-animation;
	animation-duration: 4s;
	animation-iteration-count: 5;
}

/* endregion */

/* region Navigation */

#preferences > section:first-of-type {
	display: flex;
	font-size: 15px;
	padding: 0;
}

body.tt-mobile #preferences > section:first-of-type {
	flex-flow: column;
}

#preferences nav {
	width: max-content;
}

body.tt-mobile #preferences nav {
	width: unset;
	overflow: hidden;
	position: sticky;
	top: 0;
}

body.light #preferences nav {
	border-right: 1px solid lightgray;
	background-color: #f1f1f1;
}

body.dark #preferences nav {
	border-right: 1px solid #444;
	background-color: #5a5a5a;
}

#preferences nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

body.tt-mobile #preferences nav ul {
	display: flex;
	flex-flow: row;
	overflow: auto;
}

body.tt-mobile #preferences nav ul::-webkit-scrollbar {
	display: none;
}

#preferences nav ul > li {
	padding: 7px;
	border-bottom: 1px solid lightgray;
	white-space: nowrap;
}

body.light #preferences nav ul > li {
	border-bottom: 1px solid lightgray;
}

body.dark #preferences nav ul > li {
	border-bottom: 1px solid #444;
}

body.light #preferences nav ul > li.header {
	background-color: #b9b9b9;
}

body.dark #preferences nav ul > li.header {
	background-color: #353535;
}

#preferences nav ul > li[name] {
	white-space: nowrap;
}

#preferences nav ul > li[name]:hover {
	cursor: pointer;
}

body.light #preferences nav ul > li[name].active,
body.light #preferences nav ul > li[name]:hover {
	background-color: #e2e0e0;
}

body.dark #preferences nav ul > li[name].active,
body.dark #preferences nav ul > li[name]:hover {
	background-color: #404040;
}

#preferences nav ul > li[name].active:hover {
	cursor: initial;
}

/* endregion */

/* region Section */

#preferences .sections {
	width: 100%;
	padding: 10px;
	overflow: auto;
}

body.light #preferences .sections {
	border-bottom: 1px solid lightgray;
}

body.dark #preferences .sections {
	border-bottom: 1px solid #333;
}

#preferences .sections > section {
	display: none;
	margin-bottom: 20px;
}

#preferences .sections > section.active {
	display: block;
}

#preferences .sections > section .header:first-of-type {
	margin-top: unset;
}

#preferences .sections .header {
	font-weight: bold;
	margin-top: 12px;
}

#preferences .sections > section .header.extra-mb {
	margin-bottom: 4px;
}

#preferences footer {
	padding: 5px;
}

/* endregion */

/* region Action Buttons */

#preferences .remove-icon-wrap,
#preferences .add-icon-wrap {
	width: 25px;
	min-width: 25px;
}

#preferences .remove-icon {
	color: red;
}

#preferences .add-icon {
	color: green;
}

/* endregion */

#preferences .tabbed {
	padding-left: 20px;
}

body.dark #preferences a[href] {
	color: #74c0fc;
	text-decoration: none;
}

ul.inline {
	margin-top: 0;
	margin-bottom: 0;
}

/* region List Tables */

ul.list-table {
	list-style: none;
	padding: unset;
	margin: unset;
	overflow-x: scroll;
}

ul.list-table li {
	display: flex;
	align-items: center;
}

ul.list-table li > *:not(:first-child):not(:last-child) {
	margin: 0 8px;
}

ul.list-table li > *:last-child {
	margin-left: 8px;
}

ul.list-table li:not(:last-of-type) {
	margin-bottom: 5px;
}

ul.list-table button {
	height: 24px;
	line-height: 24px;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 6px;
	background: #f9f9f9;
	padding: unset;
}

ul.list-table input:not([type="checkbox"]),
ul.list-table select {
	margin-right: 4px;
}

/* endregion */

/* region Inputs */

#preferences .sections button:focus {
	outline: unset;
	box-shadow: 0 0 1pt 1pt #c7f77b;
}

#preferences .sections button:hover {
	background: #ddd;
}

#preferences #notification-sound-upload {
	margin: 7.5px 15px;
}

/* - Companies / Faction */

/* endregion */

#preferences .arrow {
	position: absolute;
	font-size: 26px;
	left: -2px;
	top: -13px;
	transform: rotate(-90deg);
}

/* region Specific Preferences */

/* region Custom Links */

#customLinks > li > input[type*="text"] {
	width: 25%;
}

#customLinks > li > select {
	width: 23.5%;
}

#customLinks .name {
	max-width: 250px;
}

#preferences #customLinks > li .name,
#preferences #customLinks > li .href {
	flex: 1;
}

#preferences #customLinks .move-icon-wrap {
	margin-right: 8px;
}

#preferences #customLinks .remove-icon-wrap,
#preferences #customLinks .add-icon-wrap {
	margin-left: auto;
}

body.light #preferences #customLinks .dragging {
	border: 1px solid #333;
}

body.dark #preferences #customLinks .dragging {
	border: 1px solid white;
}

/* endregion */

/* region Hide items (stocks, areas and casino games) */

.hide-items {
	display: flex;
	align-items: baseline;
	gap: 0 5px;
	flex-wrap: wrap;
}

.hide-items span {
	padding: 1px 5px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin-bottom: 4px;
}

body.light .hide-items span {
	background-color: #f9f9f9;
	border: 1px solid lightgray;
}

body.dark .hide-items span {
	background-color: #383838;
	border: 1px solid #333;
}

.hide-items span.disabled {
	opacity: 0.6;
	background-color: rgba(255, 0, 0, 0.6) !important;
}

/* endregion */

/* region Inactivity warning */

.member-inactivity .tabbed {
	display: flex;
	align-items: center;
}

.member-inactivity .tabbed:not(:last-child) {
	margin-bottom: 10px;
}

.member-inactivity .tabbed *:not(:last-child) {
	margin-right: 5px;
}

/* endregion */

#notification-sound-play,
#notification-sound-stop {
	cursor: pointer;
}

#hide-icons .tooltip-text {
	margin-left: -17.5px;
}

#npc-alerts {
	margin-top: 2px;
}

#preferences [granted] :last-child {
	display: inline-flex;
	align-items: center;
}

/* endregion */

#saveSettingsBar {
	width: 80%;
	position: fixed;
	margin: 0 10%;
	padding: 12.5px 25px;
	bottom: 30px;
	border-radius: 15px;
}

body.light #saveSettingsBar {
	background-color: #fff;
	color: #000;
}

body.dark #saveSettingsBar {
	background-color: #666;
	color: #fff;
	border: none;
}

#saveSettingsBar > div {
	display: flex;
	align-items: center;
}

#saveSettingsBar span {
	width: 100%;
	font-weight: 500;
	font-size: 16px;
}

#saveSettingsBar #revertSettings {
	border: none;
	margin: 0 5px;
	font-size: 14px;
	font-weight: bold;
	background-color: #0000;
}
