/* Preferences */

#preferences-show_advanced {
	cursor: pointer;
}

#preferences > section:first-of-type {
	display: flex;
	font-size: 15px;
	padding: 0;
}

#preferences nav {
	width: max-content;
}

body.light #preferences nav {
	border-right: 1px solid lightgray;
	background-color: #f1f1f1;
}

body.dark #preferences nav {
	border-right: 1px solid #444;
	background-color: #5a5a5a;
}

#preferences nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#preferences nav ul > li {
	padding: 7px;
	border-bottom: 1px solid lightgray;
	white-space: nowrap;
}

body.light #preferences nav ul > li {
	border-bottom: 1px solid lightgray;
}

body.dark #preferences nav ul > li {
	border-bottom: 1px solid #444;
}

body.light #preferences nav ul > li.header {
	background-color: #b9b9b9;
}

body.dark #preferences nav ul > li.header {
	background-color: #353535;
}

#preferences nav ul > li[name] {
	white-space: nowrap;
}

#preferences nav ul > li[name]:hover {
	cursor: pointer;
}

body.light #preferences nav ul > li[name].active,
body.light #preferences nav ul > li[name]:hover {
	background-color: #e2e0e0;
}

body.dark #preferences nav ul > li[name].active,
body.dark #preferences nav ul > li[name]:hover {
	background-color: #404040;
}

#preferences nav ul > li[name].active:hover {
	cursor: initial;
}

#preferences .sections {
	width: 100%;
	padding: 10px;
}

body.light #preferences .sections {
	border-bottom: 1px solid lightgray;
}

body.dark #preferences .sections {
	border-bottom: 1px solid #333;
}

#preferences .sections > section {
	display: none;
	margin-bottom: 20px;
}

#preferences .sections > section.active {
	display: block;
}

#preferences .sections > section .header:first-of-type {
	margin-top: unset;
}

#preferences .sections > section .header {
	font-weight: bold;
	margin-top: 12px;
}

#preferences .sections > section .header.extra-mb {
	margin-bottom: 4px;
}

#preferences footer {
	padding: 5px;
}

#preferences .advanced-hidden .advanced {
	display: none;
}

#preferences .tabbed {
	padding-left: 20px;
}

#preferences .note {
	font-size: 11px;
	margin-left: 10px;
	color: #848484;
	position: relative;
}

body.dark #preferences a[href] {
	color: #74c0fc;
	text-decoration: none;
}

#preferences .option input.single.seconds {
	width: 45px;
}

/* Action Buttons */

#preferences .remove-icon-wrap,
#preferences .add-icon-wrap {
	width: 25px;
}

#preferences .remove-icon {
	color: red;
}

#preferences .add-icon {
	color: green;
}

/* Chat Highlighting */

#preferences #chatTitleHighlight select.color {
	height: 21px;
	margin-top: 2px;
}

/* Notifications */

#preferences #notification-sound-play,
#preferences #notification-sound-stop {
	cursor: pointer;
}

/* Hide Areas && Hide Casino Games */

#preferences #hide-areas span,
#preferences #hide-casino-games span {
	padding: 1px 5px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin-bottom: 4px;
}

body.light #preferences #hide-areas span,
body.light #preferences #hide-casino-games span {
	background-color: #f9f9f9;
	border: 1px solid lightgray;
}

body.dark #preferences #hide-areas span,
body.dark #preferences #hide-casino-games span {
	background-color: #383838;
	border: 1px solid #333;
}

#preferences #hide-areas span.disabled,
#preferences #hide-casino-games span.disabled {
	opacity: 0.6;
	background-color: rgba(255, 0, 0, 0.6) !important;
}

/* Custom Links */

#preferences #customLinks > li {
	display: flex;
	transform: none !important;
}

#preferences #customLinks > li .name,
#preferences #customLinks > li .href {
	flex: 1;
}

#preferences #customLinks .move-icon-wrap {
	margin: 0 8px;
}

#preferences #customLinks .remove-icon-wrap,
#preferences #customLinks .add-icon-wrap {
	margin-left: auto;
}

#preferences #customLinks .dragging {
	background-color: red;
}

#preferences .arrow {
	position: absolute;
	font-size: 26px;
	left: -2px;
	top: -13px;
	transform: rotate(-90deg);
}

/* FeatureDisplayDemo */
#featureDisplayDemo {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 3px;
	width: 70px;
	height: 40px;
	position: relative;
	margin-left: 40px;
}

#featureDisplayDemo input[type="radio"] {
	position: absolute;
}

#featureDisplayDemo .top {
	top: 1px;
}

#featureDisplayDemo .bottom {
	bottom: 1px;
}

#featureDisplayDemo .left {
	left: 1px;
}

#featureDisplayDemo .right {
	right: 1px;
}
