.wip:after {
	content: " - WIP";
	color: red;
}

/* General */

body {
	padding: 0;
	margin: 0 0 100px;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body.dark {
	background-color: #232323;
	color: #aaa;
}

.center {
	margin: auto;
}

.no-margin {
	margin: 0;
}

.first-header {
	margin-top: 0;
}

/* List Tables */

ul.list-table {
	list-style: none;
	padding: unset;
	margin: unset;
}

ul.list-table li {
	display: flex;
	align-items: center;
}

ul.list-table li > *:not(:first-child):not(:last-child) {
	margin: 0 8px;
}

ul.list-table li:not(:last-of-type) {
	margin-bottom: 5px;
}

ul.list-table input {
	border-radius: 4px;
	border: 1px solid #a7a7a7;
	padding-left: 4px;
	outline: none;
	box-shadow: 0 1px 5px 1px #e8e8e8;
	margin-right: 4px;
}

ul.list-table button {
	height: 24px;
	line-height: 24px;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 6px;
	background: #f9f9f9;
	padding: unset;
}

ul.list-table button:focus {
	outline: unset;
	box-shadow: 0 0 1pt 1pt #c7f77b;
}

ul.list-table button:hover {
	background: #ddd;
}

/* General Colors */

*[color="white"] {
	color: white;
}

*[background-color="green"] {
	background-color: #149a32;
}

*[background-color="red"] {
	background-color: #c82333;
}

/* Tooltips */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: max-content;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	text-decoration: unset;
	font-weight: normal;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

/* Navigation */

header {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

nav a {
	text-decoration: none;
	color: initial;
}

header nav > ul {
	list-style: none;
	display: flex;
}

header nav > ul > li {
	flex: 1 0 auto;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}

header nav > ul > li.active {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* General pages */

main > h2 {
	text-align: center;
}

main > section {
	width: 70%;
	border: 1px solid lightgrey;
	margin: 0 auto;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
}

main > section:not(:first-of-type) {
	border-top: unset;
}

main:not(.active) {
	display: none;
}

main.active {
	display: unset;
}
