/* General */

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0 0 100px;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.hidden {
    display: none;
}

.center {
    margin: auto;
}

/* Navigation */

header {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

nav a {
    text-decoration: none;
    color: initial;
}

header nav > ul {
    list-style: none;
    display: flex;
}

header nav > ul > li {
    flex: 1 0 auto;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

header nav > ul > li.active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* General pages */

main > h2 {
    text-align: center;
}

main > section {
    width: 70%;
    border: 1px solid lightgrey;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

main:not(.active) {
    display: none;
}

main.active {
    display: unset;
}

/* Changelog */

#changelog > section {
    border: unset;
}

#changelog > section .header {
    width: 100%;
    display: flex;
}

#changelog > section .header .contributor {
    flex: 1 0 auto;
    text-align: center;
}

#changelog > section > .parent > .heading {
    cursor: pointer;
    border-bottom: 0.5px solid lightgrey;
    padding: 2px 0 2px 5px;
    height: 23px;
    line-height: 23px;
    font-size: 15px;
}

#changelog > section > .parent > .heading span {
    font-size: 12px;
}

#changelog > section > .parent > .heading i {
    float: right;
    position: relative;
    top: 7px;
}

#changelog > section .parent .parent {
    font-weight: 600;
    margin-left: 20px;
}

#changelog > section .parent .child {
    font-weight: 400;
    margin-left: 20px;
}

#changelog > section .parent .closeable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 4px 0 4px 10px;
}

#changelog .contributors .contributor a {
    text-decoration: none;
    color: initial;
}

#changelog .contributor span:before {
    display: inline-block;
    width: 5px;
    height: 5px;
    content: "";
    border-radius: 50%;
    margin-right: 4px;
}

#changelog .contributor.mephiles span:before {
    background-color: green;
    border: 2px solid green;
}

#changelog .contributor.dkk span:before {
    background-color: orange;
    border: 2px solid orange;
}

#changelog .contributor.wootty2000 span:before {
    background-color: red;
    border: 2px solid red;
}

#changelog .contributor.finally span:before {
    background-color: purple;
    border: 2px solid purple;
}

/* Preferences */

#preferences > section {
    display: flex;
    font-size: 15px;
    padding: 0;
}

#preferences nav {
    width: max-content;
    border-right: 1px solid lightgray;
    background-color: #f1f1f1;
}

#preferences nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#preferences nav ul > li {
    padding: 7px;
    border-bottom: 1px solid lightgray;
}

#preferences nav ul > li.header {
    background-color: #b9b9b9;
}

#preferences nav ul > li[name] {
    white-space: nowrap;
}

#preferences nav ul > li[name]:hover {
    background-color: #e2e0e0;
    cursor: pointer;
}

#preferences nav ul > li[name].active {
    background-color: #e2e0e0;
}

#preferences nav ul > li[name].active:hover {
    cursor: initial;
}

#preferences .sections {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 10px;
}

#preferences .sections > section {
    display: none;
    margin-bottom: 20px;
}

#preferences .sections > section.active {
    display: block;
}