.wip:after {
	content: " - WIP";
	color: red;
}

.to-test:after {
	content: " - Not Tested";
	color: orange;
}

/* General */

body {
	min-width: 600px;
}

.first-header {
	margin-top: 0;
}

/* List Tables */

ul.list-table {
	list-style: none;
	padding: unset;
	margin: unset;
}

ul.list-table li {
	display: flex;
	align-items: center;
}

ul.list-table li > *:not(:first-child):not(:last-child) {
	margin: 0 8px;
}

ul.list-table li > *:last-child {
	margin-left: 8px;
}

ul.list-table li:not(:last-of-type) {
	margin-bottom: 5px;
}

ul.list-table input:not([type="checkbox"]),
ul.list-table select {
	border-radius: 4px;
	border: 1px solid #a7a7a7;
	padding-left: 4px;
	outline: none;
	box-shadow: 0 1px 5px 1px #e8e8e8;
	margin-right: 4px;
}

ul.list-table button {
	height: 24px;
	line-height: 24px;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 6px;
	background: #f9f9f9;
	padding: unset;
}

ul.list-table button:focus {
	outline: unset;
	box-shadow: 0 0 1pt 1pt #c7f77b;
}

ul.list-table button:hover {
	background: #ddd;
}

ul.inline {
	margin-top: 0;
	margin-bottom: 0;
}

/* Tooltips */

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
	visibility: hidden;
	width: max-content;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	text-decoration: unset;
	font-weight: normal;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}
