.first-header {
	margin-top: 0;
}

p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* region Tooltips */

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
	visibility: hidden;
	width: max-content;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	text-decoration: unset;
	font-weight: normal;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -92.5px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* endregion */

#tt-confirmation-popup textarea {
	width: -moz-available;
	/*noinspection CssInvalidPropertyValue*/
	width: -webkit-fill-available;
	resize: vertical;
	min-height: 1rem;
	height: 2rem;
	border-radius: 5px;
}

.note {
	font-size: 11px;
	margin-left: 10px;
	color: #848484;
	position: relative;
	display: block;
}

.warning {
	color: red;
}
