.tt-modified-faction-spy .table-row {
	flex-wrap: wrap;
	padding-bottom: 25px;
}

.tt-modified-faction-spy .tt-faction-spy {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	white-space: pre;
	display: flex;
	justify-content: space-around;
}

.tt-faction-rw-spy {
	padding: 5px 0;
	white-space: pre;
	text-align: center;
	font-family: sans-serif;
	display: flex;
	justify-content: space-around;
}
