#tt-easter-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background: var(--tt-background-popup);
	box-shadow: var(--tt-shadow-popup);
	border-radius: 8px;
	padding: 10px;
}
