#tt-easter-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background: var(--tt-background-popup);
	box-shadow: var(--tt-shadow-popup);
	border-radius: 8px;
	padding: 10px;
	line-height: 1.1em;
}

.tt-easter-highlight img[src^="competition.php?c=EasterEggs"][src*="step=eggImage"][src*="access_token="]:not(.hidden-egg) {
	animation: easter-pulse 2s ease-out infinite;
}

@keyframes easter-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 165, 0, 0.9);
	}

	70% {
		box-shadow: 0 0 0 100px rgba(0, 165, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 165, 0, 0);
	}
}
