#profileNotes main {
	padding: 3px 3px 2px 3px;
}

#profileNotes textarea {
	width: 100%;
	min-height: 24px;
	border: unset;
	box-sizing: border-box;
	padding: 3px;
	resize: vertical;
	color: var(--input-color);
	border: 1px solid var(--input-border-color);
	border-radius: 5px;
	background-color: var(--input-background-color);
}
