.onlyNewFeedButton {
	display: flex;
	align-items: center;
	float: right;
	height: 100%;
	color: currentColor;
	cursor: pointer;

	&:hover {
		color: darkgray;
	}
}

:global(.title-black:not(.active)) .onlyNewFeedButton {
	/* Very specific margin to make sure the button doesn't move when the icon rotates. */
	/*noinspection CssNonIntegerLengthInPixels*/
	margin-right: 2.8px;
}

.onlyShowNewPosts :global(li:not(.new)) {
	display: none !important;
}

:global(.panel-scrollbar:has(li.new:not(.tt-hidden))) .nothingToShow {
	display: none;
}

.nothingToShow {
	padding: 10px;
}
