#hospitalFilter.tt-container {
	margin-top: 10px;
}

.statistic {
	margin: 5px 10px 0 0;
}

#time-filter, #level-filter {
	margin-right: 15px;
}

.time-filter-info, .level-filter-info {
	text-align: center;
}
