#hospitalFilter.tt-container {
	margin-top: 10px;
}

#time-filter,
#level-filter {
	margin-right: 15px;
}

#hospitalFilter .time-filter-info-wrap,
#hospitalFilter .level-filter-info-wrap {
	text-align: center;
}

#hospitalFilter .time-filter-info,
#hospitalFilter .level-filter-info {
	display: inline-block;
	width: 90px;
}
