.bonus__section-class {
    display: grid;
    grid-template:
            "title title" auto
            "b1    v1"    auto
            "b2    v2"    auto / 1fr 1fr;
    gap: 4px;
}

.bonus__section-class strong {
    grid-area: title;
}