#quickItems {
	margin-bottom: 10px;

	.inner-content {
		.temp.item {
			opacity: 0.2;
			border: 1px solid gray;
		}

		.item {
			&.equipped {
				body:not(.dark-mode) &,
				body.dark-mode & {
					background-color: var(--default-bg-green-color);
				}
			}

			&[data-equip-position] {
				border: 1px solid var(--tt-color-orange) !important;
			}
		}
	}
}

.tt-overlay-item li.tt-overlay-ignore[data-item] {
	border-top: 1px solid #00000059;
	border-bottom: 1px solid #00000059;
}
