/*
.tt-ff-scouter {
}
*/

.tt-ff-scouter-error {
	color: red !important;
}

.tt-ff-scouter-profile {
	float: right;
	padding-right: 10px;
	color: var(--tt-color-light-green);
}

.tt-ff-scouter-mini-profile {
	padding: 0 0 1px 4px;
}

/*
 * Credits to rDacted [2670953] (https://www.torn.com/profiles.php?XID=2670953).
 *
 * Applicable to everything beyond this point.
 */

.tt-ff-scouter-indicator {
	position: relative;
}

.tt-ff-scouter-vertical-line-low-upper,
.tt-ff-scouter-vertical-line-low-lower,
.tt-ff-scouter-vertical-line-high-upper,
.tt-ff-scouter-vertical-line-high-lower {
	content: "";
	position: absolute;
	width: 2px;
	height: 30%;
	background-color: black;
	margin-left: -1px;
}

.tt-ff-scouter-vertical-line-low-upper {
	top: 0;
	left: calc(var(--arrow-width) / 2 + 33 * (100% - var(--arrow-width)) / 100);
}

.tt-ff-scouter-vertical-line-low-lower {
	bottom: 0;
	left: calc(var(--arrow-width) / 2 + 33 * (100% - var(--arrow-width)) / 100);
}

.tt-ff-scouter-vertical-line-high-upper {
	top: 0;
	left: calc(var(--arrow-width) / 2 + 66 * (100% - var(--arrow-width)) / 100);
}

.tt-ff-scouter-vertical-line-high-lower {
	bottom: 0;
	left: calc(var(--arrow-width) / 2 + 66 * (100% - var(--arrow-width)) / 100);
}

.tt-ff-scouter-arrow {
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 0;
	top: 0;
	left: calc(var(--arrow-width) / 2 + var(--band-percent) * (100% - var(--arrow-width)) / 100);
	/*height: 40%;*/
	width: var(--arrow-width);
	object-fit: cover;
	pointer-events: none; /* Allow clicks to pass through */
}

/**
 * Compatibility with 'Show Faction Spy'
 */

body:not(.tt-mobile) .tt-modified-ff-scouter.tt-modified-faction-spy .table-row .member {
	width: 32% !important;
}

body:not(.tt-mobile) .tt-modified-ff-scouter.tt-modified-faction-spy .table-row .member-icons {
	width: 26% !important;
}

body:not(.tt-mobile) .tt-modified-ff-scouter.tt-modified-faction-spy .table-row .status {
	width: 7% !important;
}
