/*
.tt-ff-scouter {
}
*/

.tt-ff-scouter-error {
    color: red !important;
}

.tt-ff-scouter-profile {
    float: right;
    padding-right: 10px;
    color: var(--tt-color-light-green);
}

.tt-ff-scouter-attack {
    color: var(--tt-color-light-green);
}

