.tt-item-price-color,
.tt-item-price {
	color: #678c00;
}

.tt-item-price {
	width: unset !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	white-space: pre;
	font-weight: normal;
}

span.tt-item-price {
	float: right;
	position: absolute;
	right: 0;
	line-height: 34px;
}

.tt-item-quantity {
	color: black;
	font-weight: 600;
}

.tt-mobile .tt-item-price {
	position: absolute;
	right: -10px;
	top: 10px;
	float: unset;
	font-size: 11px;
}

.tt-mobile .needed-item .tt-item-price {
	right: 0;
}

.tt-mobile .items-cont .name,
.tt-mobile .items-cont .qty {
	position: relative;
	top: -3px;
}
