.tt-loading-placeholder {
	margin: 0 auto;
	padding: 10px;

	body:not(.dark-mode) & {
		content: url(https://www.torn.com/images/v2/main/ajax-loader.gif);
	}

	body.dark-mode & {
		content: url(https://www.torn.com/images/v2/main/ajax-loader-white.gif);
	}

	&:not(.active) {
		display: none;
	}
}
