/* New Filters CSS Model */
.tt-filter {
	font-family: Arial;
}

.tt-filter .statistics {
	width: 100%;
	text-align: right;
	padding-top: 5px;
	transform: translateX(-10px);
}

.tt-filter .content {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding: 10px 0;
	flex-wrap: wrap;
	gap: 10px;
}

.tt-filter .content .tt-yn-checkboxes > div {
	display: flex;
	align-items: center;
}

.tt-filter .content .tt-yn-checkboxes label {
	margin-left: 4px;
}

.tt-filter .content > div {
	text-align: center;
}

.tt-filter .content strong {
	display: block;
	margin-bottom: 2px;
}

.tt-filter .content .tt-slider {
	padding: 0 10px;
}

.tt-filter .content .slider-counter {
	margin-top: 5px;
}

.weaponBonus__section-class {
	display: grid;
	grid-template:
		"title title" auto
		"b1    v1" auto
		"b2    v2" auto / 1fr 0.5fr;
	gap: 4px;
}

.weaponBonus__section-class strong {
	grid-area: title;
}

.tt-filter-enabled-funnel {
	cursor: pointer;
	font-size: 16px;
	margin-right: -4px !important;
}
