.tt-money-input {
	margin-top: 20px;
	text-align: center;

	span {
		margin-right: 10px;
	}

	input {
		padding: 2px 10px;
		width: 50px;
		border-radius: 5px;
	}

	body.dark-mode & input {
		color: #fff;
		background-color: #000;
	}
}

.tt-stock-money-input [class*="manageContainer__"] {
	min-height: 140px;
	height: unset !important;

	& > div {
		padding: 4px;
	}
}
