.tt-specialist-gym {
	margin-top: 10px;
}

.tt-specialist-gym > main {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.tt-specialist-gym-selects-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 5px;
}

.tt-specialist-gym-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	padding: 5px 0 0 0;
}

.tt-specialist-stats-info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.tt-specialist-stat-info {
	flex: 1;
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2px;
	border-radius: 5px;
	padding: 5px;
}

body:not(.dark-mode) .tt-specialist-stat-info {
	border: 1px solid lightgray;
	background-color: white;
}

body.dark-mode .tt-specialist-stat-info {
	border: 1px solid #444;
	background-color: #333;
}

.tt-specialist-stat-header {
	align-self: center;
	font-weight: bold;
	text-decoration: underline;
}

.tt-specialist-stat-value {
	align-self: center;
}

.tt-specialist-stat-info .tt-specialist-stat-required,
.tt-specialist-stat-info .tt-specialist-stat-allowed,
.tt-specialist-stat-info .tt-specialist-stat-value {
	font-size: 0.9em;
}

.tt-specialist-stat-required {
	color: var(--tt-color-red);
}

.tt-specialist-stat-allowed {
	color: var(--tt-color-green);
}

.tt-specialist-gyms-message {
	font-weight: bold;
}
