#factionQuickItems .response-wrap {
	.item-use-act {
		border: none;
	}

	.use-cont {
		border: none;
		padding: 0;
	}

	.name {
		display: none;
	}
}

.item {
	.icon-refill {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&[data-id^="points-"] {
		.icon-refill i {
			position: absolute;

			&::after {
				position: absolute;
				right: 0;
				bottom: 0;
				font-size: 11px;
				font-weight: bold;
			}
		}
	}

	&[data-id="points-energy"] .icon-refill i::after {
		content: "E";
		color: #6cad2b;
	}

	&[data-id="points-nerve"] .icon-refill i::after {
		content: "N";
		color: #cc7032;
	}
}
