/* Travel Icon */

.tt-travel {
	cursor: pointer;
	color: #7f7f7f;
	line-height: 24px;
	float: right;
	margin-right: 30px;
}

body:not(.dark-mode) {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}

body.dark-mode {
	text-shadow: none;
}

.tt-travel i {
	padding: 5px;
	font-size: 15px;
}

@media screen and (max-width: 600px) {
	.tt-travel {
		margin-right: 0;
	}

	.tt-travel:before {
		background: linear-gradient(transparent 9%, rgba(64, 64, 64, 0.35) 50%, transparent 93%);
		content: "";
		height: 46px;
		left: 0;
		position: absolute;
		width: 1px;
	}

	.tt-travel span {
		display: none;
	}
}

/* Container */

#travelDestinations {
	margin-top: 8px;
}

#travelDestinations main {
	padding: 4px;
}

/* Legend */

#travelDestinations .legend .top-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

#travelDestinations .legend .top-row > * {
	width: 49%;
}

#travelDestinations .legend .top-row .legend-icon {
	display: inline-block;
}

#travelDestinations .legend .top-row .legend-icon > * {
	display: inline-block;
	cursor: pointer;
}

#travelDestinations .legend .top-row .legend-icon i {
	text-align: center;
	height: 12px;
	width: 12px;
}

#travelDestinations .legend .top-row .table-type-wrap {
	display: inline-flex;
	white-space: pre;
	justify-content: flex-end;
}

#travelDestinations .legend .top-row .table-type-wrap span[type] {
	cursor: pointer;
}

#travelDestinations .legend .top-row .table-type-wrap span[type].active {
	font-weight: bold;
}

#travelDestinations .legend .legend-content {
	padding-bottom: 5px;
	margin-left: 5px;
}

/* Actual Table */

#tt-travel-table {
	width: 100%;
	margin-top: 10px;
	display: grid;
}

#tt-travel-table.basic {
	grid-template-columns: 120px 1fr 150px 1fr;
}

#tt-travel-table.advanced {
	grid-template-columns: repeat(9, 1fr);
}

#tt-travel-table thead,
#tt-travel-table tbody,
#tt-travel-table tr {
	display: contents;
}

#tt-travel-table td {
	color: var(--default-color);
}

#tt-travel-table td.country > div {
	display: flex;
	align-items: center;
}

#tt-travel-table td.country > div .name {
	margin-left: 2px;
}

#tt-travel-table.advanced td.country > div {
	justify-content: center;
}

#tt-travel-table.basic td.stock .update {
	float: right;
}

#tt-travel-table.basic td.profit-minute span {
	float: right;
}

/*#tt-travel-table td.country {*/
/*	text-align: center;*/
/*}*/

/*#tt-travel-table .row {*/
/*	!*display: flex;*!*/
/*}*/

/*#tt-travel-table .row .country {*/
/*	!*width: 50px;*!*/
/*	!*display: flex;*!*/
/*	!*justify-content: center;*!*/
/*}*/

/*body:not(.tt-mobile) #tt-travel-table .row .item {*/
/*	!*width: 180px;*!*/
/*}*/

/*body.tt-mobile #tt-travel-table .row .item {*/
/*	!*flex: 1;*!*/
/*}*/

/*#tt-travel-table .row .stock {*/
/*	!*margin-right: 5px;*!*/
/*}*/

/* TODO */

#travelDestinations .legend .legend-content .heading,
#travelDestinations .legend .legend-content .heading-wrap {
	line-height: 20px;
	padding-left: 15px;
}

#travelDestinations .legend .legend-content .heading,
#travelDestinations .legend .legend-content .heading-text {
	text-decoration: underline;
}

#travelDestinations .legend .legend-content .countries-select-all,
#travelDestinations .legend .legend-content .countries-select-none {
	cursor: pointer;
}

#travelDestinations .legend .legend-content #travel-items {
	width: 40px;
	border: 1px solid gray;
	border-radius: 10px;
	height: 15px;
	padding-left: 4px;
}

#travelDestinations .legend .legend-content .row {
	margin: 0;
	padding-left: 15px;
}

#travelDestinations .legend .legend-content .flex {
	display: flex;
	flex-wrap: wrap;
}

#travelDestinations .legend .legend-content .radio-item,
#travelDestinations .legend .legend-content .checkbox-item {
	margin-bottom: 5px;
}

#travelDestinations .legend .legend-content .radio-item input,
#travelDestinations .legend .legend-content .checkbox-item input {
	position: relative;
	top: 2px;
	margin-left: 10px;
	margin-right: 5px;
}

#travelDestinations .legend .legend-content .row.countries .flex {
	align-items: center;
}

#travelDestinations .legend .legend-content .row.countries > div > span {
	margin-right: 4px;
	width: 80px;
}

#travelDestinations .legend .legend-content .row.countries .flag {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-right: 4px;
	cursor: pointer;
	border: 2px solid transparent;

	/*display: inline-block;*/
	/*position: relative;*/
	/*margin-right: 3px;*/
	/*background-size: cover !important;*/
	/*border: 2px solid gold;*/
}

body:not(.dark-mode) #travelDestinations .legend .legend-content .row.countries .flag.selected {
	border: 2px solid orange;
}

body.dark-mode #travelDestinations .legend .legend-content .row.countries .flag.selected {
	border: 2px solid gold;
}
