/* Travel Icon */

.tt-travel {
	cursor: pointer;
	color: #7f7f7f;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	line-height: 24px;
	float: right;
	margin-right: 30px;
}

.tt-travel i {
	padding: 5px;
	font-size: 15px;
}

@media screen and (max-width: 600px) {
	.tt-travel {
		margin-right: 0;
	}

	.tt-travel:before {
		background: linear-gradient(transparent 9%, rgba(64, 64, 64, 0.35) 50%, transparent 93%);
		content: "";
		height: 46px;
		left: 0;
		position: absolute;
		width: 1px;
	}

	.tt-travel span {
		display: none;
	}
}

/* Container */

#travelDestinations {
	margin-top: 8px;
}

#travelDestinations main {
	padding: 4px;
}

/* Legend */

#travelDestinations .legend .top-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

#travelDestinations .legend .top-row > * {
	width: 49%;
}

#travelDestinations .legend .top-row .legend-icon {
	display: inline-block;
}

#travelDestinations .legend .top-row .legend-icon > * {
	display: inline-block;
	cursor: pointer;
}

#travelDestinations .legend .top-row .legend-icon i {
	text-align: center;
	height: 12px;
	width: 12px;
}

#travelDestinations .legend .top-row .table-type-wrap {
	display: inline-flex;
	white-space: pre;
	justify-content: flex-end;
}

#travelDestinations .legend .top-row .table-type-wrap span[type] {
	cursor: pointer;
}

#travelDestinations .legend .top-row .table-type-wrap span[type].active {
	font-weight: bold;
}

#travelDestinations .legend .legend-content {
	padding-bottom: 5px;
	margin-left: 5px;
}

/* TODO */

#travelDestinations .legend .legend-content .heading {
	text-decoration: underline;
	line-height: 20px;
	padding-left: 15px;
	/*font-weight: bold;*/
}

#travelDestinations .legend .legend-content #travel-items {
	width: 40px;
	border: 1px solid gray;
	border-radius: 10px;
	height: 15px;
	padding-left: 4px;
}

#travelDestinations .legend .legend-content .row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 15px;
}

#travelDestinations .legend .legend-content .radio-item,
#travelDestinations .legend .legend-content .checkbox-item {
	margin-bottom: 5px;
}

#travelDestinations .legend .legend-content .radio-item input,
#travelDestinations .legend .legend-content .checkbox-item input {
	position: relative;
	top: 2px;
	margin-left: 10px;
	margin-right: 5px;
}
