.tt-dual-range {
	height: 12px;
	width: 150px;
	background: #ddd;
	border-radius: 50px;
	position: relative;
	user-select: none;
	margin: auto;
}

.tt-dual-range .highlight {
	position: absolute;
	height: 12px;
	width: calc(calc(var(--right) - var(--left)) + 21px);
	left: var(--left);
	background-color: #627e0d;
	z-index: 1;
	border-radius: 50px;
}

.tt-dual-range .handle {
	height: 21px;
	width: 21px;
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: grab;
	float: none;
}

.tt-dual-range .handle.focus {
	border: 3px solid #888;
	height: 15px;
	width: 15px;
}

body:not(.dark-mode) .tt-dual-range .handle {
	background-color: #fff;
}

body.dark-mode .tt-dual-range .handle {
	background-color: #e8e8e8;
}

.tt-dual-range .handle.left {
	left: var(--left);
}

.tt-dual-range .handle.right {
	left: var(--right);
}

.tt-dual-range .dump {
	width: 0;
	overflow: hidden;
}

.tt-dual-range .dump * {
	opacity: 0;
	filter: alpha(opacity=0);
}

.tt-slider-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tt-slider-label {
	margin-top: 10px;
}
