name: Run Prettier

on:
    push:
        branches: [master]
        paths:
          - 'extension/**'
    workflow_dispatch:

concurrency:
    group: ${{ github.repository }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # Set git to LF
            - name: Set git to use LF
              run: git config --global core.eol lf

            # Downloads Repos for Usage
            - uses: actions/checkout@v6

            # Runs prettier
            - name: Format with prettier
              uses: creyD/prettier_action@v4.6
              with:
                prettier_options: --config .prettierrc --write . --list-different

            - name: Add & Commit
              uses: EndBug/add-and-commit@v9.1.4
              with:
                  message: Apply prettier changes.
                  default_author: github_actions

