---
name: Testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build-as-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build as test
        run: npm run build

      - name: Run tests
        run: npm run test
