.tt-settings {
	margin-bottom: 2px;
	height: 23px;
}

.tt-settings a {
	display: inline-block !important;
}

.tt-settings svg {
	width: 21px;
	height: 21px;
	margin-left: 5px;
	display: inline-block;
}

.tt-back {
	position: absolute;
	width: 80%;
	left: 222px;
	height: 20px;
}

.tt-back > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: var(--content-title-links);
	font-weight: bolder;
	cursor: pointer;
}

.tt-back svg {
	width: 15px;
	margin-right: 5px;
	--tt-svg-back-fill: var(--content-title-links);
}

.tt-settings-iframe {
	height: 85%;
	width: 80%;
	position: absolute;
	top: 110px;
	left: 222px;
	background-color: white;
}
